n8n/workflows/all.json
[{"name" : "CyberSEO / ВФ 0: МАСТЕР", "nodes" : [{"parameters": {"rule": {"interval": [{"daysInterval": 2, "triggerAtHour": 11}]}}, "id": "0ade2152-0d2d-477f-b146-3d5d346a43cb", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "position": [-656, 432], "typeVersion": 1.2}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "КОНВЕЙЕР", "mode": "name"}, "filtersUI": {"values": [{"lookupColumn": "=row_number", "lookupValue": "2"}]}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [-208, 192], "id": "7765e93e-b4ce-47a2-a824-90e0bcd0bc4a", "name": "Чтение новой темы из очереди", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "ПРОМПТЫ", "mode": "name"}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [-208, 576], "id": "16d65df1-80dd-47dc-b6d1-6e4d0daf6c87", "name": "ПРОМПТЫ", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "НАСТРОЙКИ", "mode": "name"}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [-208, 384], "id": "d8480c4c-8c43-46db-b6b3-8ea67a239491", "name": "НАСТРОЙКИ", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"mode": "combine", "combineBy": "combineByPosition", "numberInputs": 5, "options": {}}, "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [16, 528], "id": "257717da-d7a7-4f79-a954-6c1c61c46466", "name": "Merge3"}, {"parameters": {"assignments": {"assignments": [{"id": "ec210b0a-b607-42ff-8297-72ad48db564a", "name": "table", "value": "__SHEET_ID__", "type": "string"}, {"id": "d7ddf998-ea45-481e-91be-521bb2a4c730", "name": "domen", "value": "https://__BLOG_DOMAIN__", "type": "string"}, {"id": "wp-url-field-001", "name": "wp_url", "value": "https://__BLOG_DOMAIN__", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-432, 432], "id": "ada4b6d6-67e9-404b-a69f-a1e7517f7fd8", "name": "Установка ID таблицы"}, {"parameters": {"jsCode": "/**\n * ОПИСАНИЕ УЗЛА: \"Сборка Контекста V.2.0\"\n * \n * ЧТО ДЕЛАЕТ:\n * 1. Собирает данные из источников: Очередь, Настройки, Промпты, Офферы, Опубликованное, Установка ID таблицы.\n * 2. Очищает их от технического мусора n8n.\n * 3. Создает единый объект \"контекст\", который прокидывается через всю систему.\n */\n\n// 1) ИЗВЛЕКАЕМ ДАННЫЕ ИЗ ВСЕХ ВХОДЯЩИХ ВЕТОК\nconst задача = $('Чтение новой темы из очереди').first().json;\n\n// ВАЖНО: .all() вернет массив items; .first().json — один item\nconst настройки_сырые = $('НАСТРОЙКИ').all();\nconst промпты_сырые = $('ПРОМПТЫ').all();\nconst офферы_сырые = $('ОФФЕРЫ').all();\nconst опубликовано_сырые = $('ОПУБЛИКОВАНО').all();\n\n// Новый источник: Установка ID таблицы (Set node)\nconst установка_таблицы = (() => {\n  try {\n    // Если узел подключён и есть item — забираем json\n    return $('Установка ID таблицы').item?.json ?? {};\n  } catch (e) {\n    // Если узла нет в графе/имя не совпало — не ломаем сборку\n    return {};\n  }\n})();\n\n// 2) ОБРАБОТКА НАСТРОЕК (Словарь Ключ-Значение)\nconst настройки = {};\nнастройки_сырые.forEach(item => {\n  const строка = item.json;\n  if (строка['Ключ']) {\n    настройки[строка['Ключ']] = строка['Значение'];\n  }\n});\n\n// 3) ОБРАБОТКА ПРОМПТОВ (Словарь по именам агентов)\nconst промпты = {};\nпромпты_сырые.forEach(item => {\n  const строка = item.json;\n  if (строка['Имя агента']) {\n    промпты[строка['Имя агента']] = строка['Системный промпт'];\n  }\n});\n\n// 4) ОБРАБОТКА ОФФЕРОВ (Только активные)\nconst база_офферов = офферы_сырые\n  .filter(item => item.json['Статус'] === 'Active')\n  .map(item => {\n    const строка = item.json;\n    return {\n      id: строка['ID Оффера'],\n      название: строка['Название'],\n      контекст_ии: строка['Контекст ИИ'],\n      ссылка: строка['Ссылка'],\n      тип: строка['Тип'] // Soft или Hard\n    };\n  });\n\n// 5) ОБРАБОТКА ОПУБЛИКОВАННЫХ СТАТЕЙ (База для перелинковки)\nconst база_ссылок = опубликовано_сырые.map(item => {\n  const строка = item.json;\n  return {\n    ключ: строка['Ключ'],\n    заголовок: строка['Заголовок'],\n    ссылка: строка['Ссылка'],\n    анкоры: строка['Анкоры для ссылок']\n  };\n});\n\n// 6) НОРМАЛИЗУЕМ ДАННЫЕ ИЗ \"Установка ID таблицы\"\nconst инфраструктура = {\n  table: установка_таблицы.table ?? null,\n  domen: установка_таблицы.domen ?? null,\n  wp_url: установка_таблицы.wp_url ?? установка_таблицы.domen ?? null\n};\n\n// 7) ФОРМИРУЕМ ФИНАЛЬНЫЙ КОНТЕКСТ\nreturn {\n  json: {\n    контекст: {\n      задача,\n      настройки,\n      промпты,\n      база_офферов,\n      база_опубликовано: база_ссылок,\n      инфраструктура, // <-- добавили сюда\n      мета: {\n        дата_запуска: new Date().toLocaleString('ru-RU'),\n        идентификатор_сессии: Math.random().toString(36).substring(7)\n      }\n    }\n  }\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [240, 576], "id": "4590c4f7-0e8d-4388-9a04-458ff5246981", "name": "Сборка Контекста"}, {"parameters": {"workflowId": {"__rl": true, "value": "erfK3ahr2Cu4ye7p", "mode": "list", "cachedResultUrl": "/workflow/erfK3ahr2Cu4ye7p", "cachedResultName": "CyberSEO / ВФ 1: МОЗГ"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {"waitForSubWorkflow": true}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [464, 576], "id": "4b6ca02e-6575-4c67-80d0-2c451dd1771a", "name": "ВФ 1"}, {"parameters": {"workflowId": {"__rl": true, "value": "RhcQinsGivGFHvFL", "mode": "list", "cachedResultUrl": "/workflow/RhcQinsGivGFHvFL", "cachedResultName": "CyberSEO / ВФ 2: ЗАЦЕП (HOOK)"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [688, 432], "id": "eaa3af9f-764e-4593-904f-16dcc202c2a4", "name": "ВФ 2"}, {"parameters": {"workflowId": {"__rl": true, "value": "xclDVChZuI3mPCYS", "mode": "list", "cachedResultUrl": "/workflow/xclDVChZuI3mPCYS", "cachedResultName": "CyberSEO / ВФ 3: ТЕЛО"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [688, 720], "id": "57d9f8ea-2f14-4458-9532-2bcfeb2034c6", "name": "ВФ 3"}, {"parameters": {"mode": "combine", "combineBy": "combineByPosition", "numberInputs": 3, "options": {}}, "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [912, 560], "id": "4aea890f-fd63-49f5-99ef-7af6c24ac6cc", "name": "Merge4"}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "ОПУБЛИКОВАНО", "mode": "name"}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [-208, 960], "id": "7cd45485-5779-420d-b165-015a46561318", "name": "ОПУБЛИКОВАНО", "alwaysOutputData": true, "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $('Установка ID таблицы').first().json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "ОФФЕРЫ", "mode": "name"}, "filtersUI": {"values": [{"lookupColumn": "Статус", "lookupValue": "Active"}]}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [-208, 768], "id": "e30a2a91-1d09-4cfd-84a5-be03c2396f40", "name": "ОФФЕРЫ", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"model": "anthropic/claude-sonnet-4.5", "options": {"maxTokens": 8000, "temperature": 0.1}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [1104, 784], "id": "f14ddabe-37ad-411f-9887-44cf87a5efab", "name": "OpenRouter Chat Model4", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "=### ДОСЬЕ:\n{{ $('ВФ 1').first().json.dossier_content }}\n\n### ТЕКСТ СТАТЬИ:\n\n{{\n  $input.all()\n    .flatMap(i => (i.json.blocks ?? i.json.final_plan?.blocks ?? []))\n    .map(b => b.content)\n    .filter(Boolean)\n    .join('\\n\\n')\n}}\n---\nСгенерируй 5 пар вопрос-ответ в JSON.\n", "options": {"systemMessage": "==### ROLE: SEO SPECIALIST & SUPPORT LEAD (AGENT #11)\n\nТвоя задача — создать финальные SEO-компоненты для статьи: блок FAQ и список поисковых анкоров.\n\n### ИНСТРУКЦИИ:\n1. **FAQ:** Выдели 5 самых актуальных вопросов на основе текста статьи и Досье. Дай краткие, экспертные ответы (1-3 предложения).\n2. **SEO ANCHORS:** Сгенерируй 5 поисковых анкоров (якорей), которыми другие статьи будут ссылаться на ЭТУ текущую статью.\n   - **Правила анкоров:** Длина 2-4 слова. Это должны быть фразы, по которым люди ищут эту тему (Search Intent). \n   - **Пример:** \"как начать тему\", \"открыть своё дело\", \"сколько это стоит\".\n   - **Запрет:** Не используй слова \"тут\", \"здесь\", \"ссылка\", \"статья\".\n\n### ФОРМАТ ВЫДАЧИ (КРИТИЧНО - STRICT JSON ONLY):\nВерни ТОЛЬКО чистый JSON-объект. Никаких вступлений и Markdown-тегов.\n{\n  \"faq\": [\n    {\"q\": \"Вопрос 1\", \"a\": \"Ответ 1\"},\n    {\"q\": \"Вопрос 2\", \"a\": \"Ответ 2\"},\n    {\"q\": \"Вопрос 3\", \"a\": \"Ответ 3\"},\n    {\"q\": \"Вопрос 4\", \"a\": \"Ответ 4\"},\n    {\"q\": \"Вопрос 5\", \"a\": \"Ответ 5\"}\n  ],\n  \"link_anchors\": \"анкор 1, анкор 2, анкор 3, анкор 4, анкор 5\"\n}"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [1136, 576], "id": "66a1d2ea-c8ca-4926-8ca3-e12568ad924f", "name": "Саппорт", "retryOnFail": true}, {"parameters": {"jsCode": "/**\n * ОПИСАНИЕ УЗЛА: \"Генератор FAQ и Якорей V.3.0\"\n */\n\nconst rawOutput = $input.item.json.output.replace(/```json\\n?|```/g, \"\").trim();\nconst data = JSON.parse(rawOutput);\n\nconst faqArray = data.faq;\nconst anchors = data.link_anchors;\n\n// 1. Создаем HTML версию (видимую)\nlet htmlView = `<div class=\"faq-section\" style=\"max-width: 800px; margin: 30px auto;\"><h2>Часто задаваемые вопросы</h2>`;\nfaqArray.forEach(item => {\n    htmlView += `\n    <details class=\"faq-item\" style=\"margin-bottom: 15px; padding: 10px; border: 1px solid #eee; border-radius: 8px;\">\n        <summary style=\"font-weight: bold; cursor: pointer;\">${item.q}</summary>\n        <p style=\"margin-top: 10px;\">${item.a}</p>\n    </details>`;\n});\nhtmlView += `</div>`;\n\n// 2. Создаем версию для Google (JSON-LD)\nconst schemaData = {\n    \"@context\": \"https://schema.org\",\n    \"@type\": \"FAQPage\",\n    \"mainEntity\": faqArray.map(item => ({\n        \"@type\": \"Question\",\n        \"name\": item.q,\n        \"acceptedAnswer\": {\n            \"@type\": \"Answer\",\n            \"text\": item.a\n        }\n    }))\n};\n\nconst jsonLdCode = `<script type=\"application/ld+json\">${JSON.stringify(schemaData)}</script>`;\n\n// 3. Возвращаем всё, включая анкоры для GSheets\nreturn {\n    json: {\n        faq_html: htmlView,\n        faq_schema: jsonLdCode,\n        link_anchors: anchors // Это поле пойдет в GSheets\n    }\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1488, 576], "id": "c99dccb7-87d6-4b9f-82e6-12d5403d6368", "name": "Генератор FAQ-разметки"}, {"parameters": {"documentId": {"__rl": true, "value": "={{ $('Установка ID таблицы').first().json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "РУБРИКИ", "mode": "name"}, "filtersUI": {"values": [{"lookupColumn": "=Название рубрики", "lookupValue": "={{ $('Merge4').first().json[\"контекст\"][\"задача\"][\"Подсказка рубрики\"] }}"}]}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [2368, 384], "id": "463c667a-a74f-4732-960f-9d7fd6b2429f", "name": "РУБРИКИ", "alwaysOutputData": true, "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: Финальный сборщик V.7.5 (ANTI-NULL & STABLE)\n * \n * ЧТО ИСПРАВЛЕНО:\n * 1. Запрещен вывод слова \"null\" в заголовках и тексте.\n * 2. Если h2_title пустой, тег <h2> не создается.\n * 3. Если контент блока пуст, блок полностью игнорируется.\n * 4. Если у изображения есть alt, figcaption синхронизируется с alt.\n */\n\nconst DESKTOP_MAX_WIDTH = '760px';   \nconst TEXT_COLOR        = '#222222'; \nconst LINK_COLOR        = '#0056b3'; \n\n// 1. ЗАГРУЗКА ДАННЫХ\nconst hook = $(['ВФ 2']).first().json; \nconst bodyBlocks = $(['ВФ 3']).first().json.blocks; \nconst faq = $(['Генератор FAQ-разметки']).first().json;\nconst author = $(['Обо мне']).first().json;\nconst contextNode = $(['Сборка Контекста']).first().json.контекст;\nconst rawDomen = $('Установка ID таблицы').first().json.domen;\nconst myDomain = rawDomen.replace(/^https?:\\/\\//, '').split('/')[0].replace('next.', '');\n\n// 2. ФУНКЦИЯ ОЧИСТКИ (Защита от null + синхронизация alt/figcaption)\nfunction sanitizeContent(html, linkData = null) {\n    if (!html || html === \"null\" || html === null) return \"\";\n    \n    let cleanHtml = html;\n\n    // Внешние ссылки с Title\n    const linkRegex = /<a\\s+[^>]*?href=([\"'])(.*?)\\1[^>]*?>/gi;\n    cleanHtml = cleanHtml.replace(linkRegex, (fullTag, quote, url) => {\n        const isExternal = url.startsWith('http') && !url.includes(myDomain);\n        if (isExternal) {\n            let titleAttr = \"\";\n            if (linkData && linkData.portal) {\n                const desc = linkData.description ? linkData.description.substring(0, 60).replace(/\"/g, \"'\") : \"\";\n                titleAttr = `title=\"Источник: ${linkData.portal} — ${desc}\"`;\n            }\n            return `<a href=\"${url}\" ${titleAttr} target=\"_blank\" rel=\"nofollow noopener\">`;\n        }\n        return fullTag;\n    });\n\n    // Синхронизация figcaption с alt у img внутри figure\n    cleanHtml = cleanHtml.replace(/<figure\\b[^>]*>[\\s\\S]*?<\\/figure>/gi, (figureHtml) => {\n        const imgAltMatch = figureHtml.match(/<img\\b[^>]*\\balt=([\"'])(.*?)\\1[^>]*>/i);\n        if (!imgAltMatch) return figureHtml;\n\n        const altText = imgAltMatch[2] ? imgAltMatch[2].trim() : \"\";\n        if (!altText || altText.toLowerCase() === \"null\") return figureHtml;\n\n        if (/<figcaption\\b[^>]*>[\\s\\S]*?<\\/figcaption>/i.test(figureHtml)) {\n            return figureHtml.replace(\n                /<figcaption\\b([^>]*)>[\\s\\S]*?<\\/figcaption>/i,\n                `<figcaption$1>${altText}</figcaption>`\n            );\n        }\n\n        return figureHtml.replace(/<\\/figure>/i, `<figcaption>${altText}</figcaption></figure>`);\n    });\n\n    // Таблицы, гигиена\n    cleanHtml = cleanHtml.replace(/<table/gi, '<div class=\"table-container\" style=\"overflow-x:auto;-webkit-overflow-scrolling:touch;margin:20px 0;border-radius:8px;border:1px solid #eee;width:100%\"><table');\n    cleanHtml = cleanHtml.replace(/<\\/table>/gi, '</table></div>');\n    cleanHtml = cleanHtml.replace(/<\\/p>\\s*<\\/p>/gi, '</p>'); \n    cleanHtml = cleanHtml.replace(/<p><\\/p>/gi, ''); \n    \n    // Финальный фильтр: если ИИ всё же вставил текстовое \"null\"\n    return cleanHtml.replace(/>\\s*null\\s*</gi, '><');\n}\n\n// 3. ГЕНЕРАЦИЯ СОДЕРЖАНИЯ (TOC) - Только если есть заголовки\nlet tocHtml = \"\";\nconst validH2Blocks = bodyBlocks.filter(b => b.header_tag === 'h2' && b.title && b.title !== \"null\");\n\nif (validH2Blocks.length > 0) {\n    tocHtml = `<div class=\"toc-box\" style=\"background:#f8f9fa; padding:20px 15px; border-radius:12px; margin:30px auto; max-width:${DESKTOP_MAX_WIDTH}; box-sizing:border-box; border:1px solid #eee;\"><strong style=\"font-size:20px; display:block; margin-bottom:10px;\">Содержание:</strong><ul style=\"margin:0; padding:0 0 0 20px; line-height:1.6; font-size:17px;\">`;\n    validH2Blocks.forEach(block => {\n        tocHtml += `<li style=\"margin-bottom:8px;\"><a href=\"#section-${block.id}\" style=\"color:${LINK_COLOR}; text-decoration:underline;\">${block.title}</a></li>`;\n    });\n    tocHtml += `</ul></div>`;\n}\n\n// 4. СБОРКА ТЕЛА\nlet bodyHtml = \"\";\nbodyBlocks.forEach(block => {\n    let content = sanitizeContent(block.content, block.external_linking);\n    if (!content || content.trim() === \"\") return; // Пропускаем пустые блоки\n\n    if (block.type === 'IMG' || block.type === 'VIDEO' || block.type === 'HARD_OFFER') {\n        // Блоки с собственной версткой заголовков (или без них)\n        bodyHtml += `<div class=\"article-special-block\" style=\"width:100%; margin:40px 0;\">${content}</div>`;\n    } else {\n        // Текстовые блоки\n        const tag = block.header_tag || 'h2';\n        const title = (block.title && block.title !== \"null\") ? block.title : \"\";\n        const headerHtml = title ? `<${tag} id=\"section-${block.id}\" style=\"margin-top:45px; margin-bottom:20px; font-size:clamp(24px, 6vw, 34px); line-height:1.2; font-weight:800; hyphens:auto; word-wrap:break-word;\">${title}</${tag}>` : \"\";\n        \n        bodyHtml += `\n        <div class=\"article-text-block\" style=\"max-width:${DESKTOP_MAX_WIDTH}; margin:0 auto; padding:0 10px; box-sizing:border-box;\">\n            ${headerHtml}\n            <div style=\"font-size:19px; line-height:1.75; hyphens:auto; color:#333;\">\n                ${content}\n            </div>\n        </div>\\n\\n`;\n    }\n});\n\n// 5. СКЛЕЙКА ФИНАЛЬНОГО ПОЛОТНА\nlet fullHtml = `\n<div class=\"cyberseo-article-root\" style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif; color:${TEXT_COLOR}; background:transparent; width:100%; overflow-x:hidden;\">\n    <div class=\"article-intro\" style=\"max-width:${DESKTOP_MAX_WIDTH}; margin:0 auto 30px auto; padding:0 10px; font-size:20px; line-height:1.7; box-sizing:border-box;\">\n        ${sanitizeContent(hook.result)}\n    </div>\n    ${tocHtml ? `<div style=\"padding:0 5px;\">${tocHtml}</div>` : \"\"}\n    <div class=\"article-content-flow\">${bodyHtml}</div>\n    <div class=\"article-faq\" style=\"max-width:${DESKTOP_MAX_WIDTH}; margin:50px auto; padding:0 10px; box-sizing:border-box;\">${faq.faq_html}</div>\n    \n    <div class=\"author-card\" style=\"max-width:${DESKTOP_MAX_WIDTH}; margin:60px auto 0 auto; padding:20px; background:#fafafa; border:1px solid #eee; border-radius:16px; box-sizing:border-box;\">\n        <div style=\"display:flex; flex-wrap:wrap; align-items:center; gap:20px;\">\n            <img src=\"${(author.avatar_urls && (author.avatar_urls['96'] || author.avatar_urls['48'] || Object.values(author.avatar_urls)[0])) || ''}\" alt=\"Автор: ${author.name || 'Автор'}\" style=\"width:65px; height:65px; border-radius:50%; border:2px solid #7a00ff; object-fit:cover;\">\n            <div style=\"flex:1; min-width:200px;\">\n                <h4 style=\"margin:0 0 5px 0; font-size:19px; font-weight:700;\">Автор: ${author.name}</h4>\n                <p style=\"margin:0; font-size:15px; color:#555; line-height:1.5;\">${author.description}</p>\n                <a href=\"${author.link}\" style=\"display:inline-block; margin-top:8px; color:${LINK_COLOR}; text-decoration:none; font-weight:bold; font-size:15px;\">Все статьи автора →</a>\n            </div>\n        </div>\n    </div>\n</div>\n${faq.faq_schema}`;\n\n// 6. ВЫХОД\nconst plainText = fullHtml.replace(/<[^>]*>/g, ' ');\nconst wordCount = plainText.trim().split(/\\s+/).length;\nconst readingTime = Math.ceil(wordCount / 200);\n\nconst __metaD = (() => { let m=(hook.meta_description||'').trim(); if(m.length<=155) return m; let c=m.slice(0,155); const __e=Math.max(c.lastIndexOf('.'),c.lastIndexOf('!'),c.lastIndexOf('?')); if(__e>=60){ return c.slice(0,__e+1).trim(); } const s=c.lastIndexOf(' '); return (s>100?c.slice(0,s):c).trim(); })();\n\nreturn [{\n    json: {\n        title: hook.h1,\n        content: fullHtml,\n        slug: hook.slug,\n        excerpt: __metaD,\n        featured_media: hook.featured_image.mediaId,\n        status: \"publish\",\n        meta: {\n            \"_yoast_wpseo_metadesc\": __metaD,\n            \"_yoast_wpseo_focuskw\": contextNode.задача['Главный ключ'],\n            \"reading_time\": readingTime.toString()\n        }\n    }\n}];\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2160, 576], "id": "169b6001-0180-4526-ab91-ce05170231a8", "name": "Финальный сборщик"}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $('Установка ID таблицы').first().json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "ОПУБЛИКОВАНО", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"Заголовок": "={{ $json.title }}", "Ссылка": "={{ $json.url }}", "ID поста": "={{ $json.postId }}", "Дата": "={{ $('Merge4').first().json[\"контекст\"][\"мета\"][\"дата_запуска\"] }}", "Ключ": "={{ $('Merge4').first().json[\"контекст\"][\"задача\"][\"Главный ключ\"] }}", "Анкоры для ссылок": "={{ $('Генератор FAQ-разметки').first().json.link_anchors }}"}, "matchingColumns": [], "schema": [{"id": "Ключ", "displayName": "Ключ", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Заголовок", "displayName": "Заголовок", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Ссылка", "displayName": "Ссылка", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "ID поста", "displayName": "ID поста", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Анкоры для ссылок", "displayName": "Анкоры для ссылок", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Дата", "displayName": "Дата", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [3056, 240], "id": "17333b26-f8db-4725-9b07-bd7a24b8c4a6", "name": "Запись в опубликованные ", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: SEO Sanitizer & HTML Cleaner V.3.0 (GOLD)\n * ЧТО ДЕЛАЕТ: \n * 1. Берет домен из ноды \"Установка ID таблицы\".\n * 2. Для ВНЕШНИХ ссылок: Сносит все атрибуты и ставит эталонные (nofollow, noopener, _blank).\n * 3. Для ВНУТРЕННИХ ссылок: Оставляет как есть (поддерживает относительные и абсолютные).\n * 4. Очищает HTML от двойных закрывающих тегов и пустых абзацев.\n */\n\n// 1. ПОДГОТОВКА ДАННЫХ\nconst article = $input.item.json; \nlet html = article.content || \"\";\n\n// Берем домен из глобальных настроек (Set нода)\nconst rawDomen = $('Установка ID таблицы').first().json.domen;\n\n// Очищаем домен для сравнения: \"https://next.autopipe.space/\" -> \"autopipe.space\"\nconst myDomain = rawDomen.replace(/^https?:\\/\\//, '').split('/')[0].replace('next.', '');\n\n// 2. ЛОГИКА ОБРАБОТКИ ССЫЛОК\n// Регулярка находит весь тег <a> и отдельно URL в href\nconst linkRegex = /<a\\s+[^>]*?href=([\"'])(.*?)\\1[^>]*?>/gi;\n\nhtml = html.replace(linkRegex, (fullTag, quote, url) => {\n    // Ссылка внешняя, если начинается с http и не содержит наш домен\n    const isExternal = url.startsWith('http') && !url.includes(myDomain);\n\n    if (isExternal) {\n        // ПЕРЕСБОРКА ТЕГА С НУЛЯ (Гарантия отсутствия дублей атрибутов)\n        return `<a href=\"${url}\" target=\"_blank\" rel=\"nofollow noopener\">`;\n    }\n\n    // Если ссылка внутренняя — возвращаем оригинал без изменений\n    return fullTag;\n});\n\n// 3. ГИГИЕНА HTML (Чистка артефактов ИИ)\nhtml = html.replace(/<\\/p>\\s*<\\/p>/gi, '</p>');      // Удаление двойных закрывающих </p>\nhtml = html.replace(/<p><\\/p>/gi, '');              // Удаление пустых абзацев\nhtml = html.replace(/<p>&nbsp;<\\/p>/gi, '');         // Удаление абзацев с неразрывным пробелом\nhtml = html.replace(/\\n\\s*\\n/g, '\\n');              // Схлопывание лишних пустых строк\n\n// 3.5 САНИТАЙЗЕР ССЫЛОК: убираем гиперссылки с не-ASCII/пробелами в URL (битые адреса от модели → оставляем только текст)\nhtml = html.replace(/<a\\b[^>]*\\bhref=\"([^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/gi, (m, href, text) => (/[^\\x21-\\x7E]/.test(href) ? text : m));\n\n// 4. ВОЗВРАТ ОБЪЕКТА\nreturn {\n    json: {\n        ...article,        // Пробрасываем все поля (title, slug, excerpt, mediaId)\n        content: html,     // Заменяем контент на очищенный\n        sanitized: true,   // Флаг успешной проверки\n        detected_root_domain: myDomain\n    }\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2384, 576], "id": "249655ec-7bb8-4ac5-8d24-ed2c48b19a02", "name": "SEO Sanitizer"}, {"parameters": {"operation": "delete", "documentId": {"__rl": true, "value": "={{ $('Установка ID таблицы').first().json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "КОНВЕЙЕР", "mode": "name"}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [3056, 432], "id": "6d4cff00-28c8-44fd-89f9-85bf90582101", "name": "Удаляем тему", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"operation": "update", "documentId": {"__rl": true, "value": "={{ $json.table }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "КОНВЕЙЕР", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"row_number": 2, "Статус": "В процессе"}, "matchingColumns": ["row_number"], "schema": [{"id": "Главный ключ", "displayName": "Главный ключ", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Подсказка рубрики", "displayName": "Подсказка рубрики", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "ID Оффера", "displayName": "ID Оффера", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Заметки", "displayName": "Заметки", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Статус", "displayName": "Статус", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Страна", "displayName": "Страна", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Город", "displayName": "Город", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [-208, 0], "id": "5b3e4088-830d-45c1-b7a7-67a794e372c7", "name": "Статус", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"url": "={{ $('Установка ID таблицы').first().json.wp_url || $('Установка ID таблицы').first().json.domen }}/wp-json/wp/v2/users/me", "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1712, 576], "id": "b9587629-a4e3-4218-b4fe-c31fd7c51bf3", "name": "Обо мне", "credentials": {"httpBasicAuth": {"id": "9jTt9fWMCYJhmZqa", "name": "firsanov_admin"}}}, {"parameters": {"jsCode": "const user = $json;\nreturn [{\n  json: {\n    name: user.name || '',\n    avatar_url: user.avatar_urls?.['96'] || user.avatar_urls?.['48'] || '',\n    description: user.description || '',\n    link: user.link || user.url || ''\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1936, 576], "id": "format-author-id", "name": "Форматирование автора"}, {"parameters": {"jsCode": "const tagsRaw = $('ВФ 1').first().json.tags || '';\nlet tagNames = Array.isArray(tagsRaw)\n  ? tagsRaw.map(t => String(t).trim()).filter(Boolean)\n  : String(tagsRaw).split(',').map(t => t.trim()).filter(Boolean);\nif (tagNames.length === 0) {\n  // фолбэк: досье не дало тегов — не блокируем публикацию, берём главный ключ\n  let key = '';\n  try { key = ($('Чтение новой темы из очереди').first().json['Главный ключ'] || '').toString().trim(); } catch(e){}\n  tagNames = key ? [key] : ['Маркетинг'];\n}\nreturn tagNames.map(name => ({ json: { name } }));"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2608, 576], "id": "prepare-tags-id", "name": "Подготовка тегов"}, {"parameters": {"options": {}}, "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [2832, 576], "id": "split-tags-id", "name": "Loop тегов"}, {"parameters": {"method": "POST", "url": "={{ $('Установка ID таблицы').first().json.wp_url || $('Установка ID таблицы').first().json.domen }}/wp-json/wp/v2/tags", "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "sendBody": true, "bodyParameters": {"parameters": [{"name": "name", "value": "={{ $json.name }}"}]}, "options": {"response": {"response": {"fullResponse": true}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2944, 832], "id": "create-tag-id", "name": "Создание тега", "credentials": {"httpBasicAuth": {"id": "9jTt9fWMCYJhmZqa", "name": "firsanov_admin"}}, "onError": "continueRegularOutput", "continueOnFail": true}, {"parameters": {"jsCode": "// Накопление tag ID на каждой итерации цикла\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.collectedTagIds) {\n  staticData.collectedTagIds = [];\n}\n\nconst item = $input.first();\nconst directId = item.json.id || (item.json.body && item.json.body.id);\nif (directId) {\n  staticData.collectedTagIds.push(directId);\n} else if (item.json.error) {\n  const msg = String(item.json.error.message || JSON.stringify(item.json.error));\n  const match = msg.match(/term_id[\"\\\\\\s]*:\\s*(\\d+)/);\n  if (match) {\n    staticData.collectedTagIds.push(parseInt(match[1]));\n  } else {\n    const match2 = msg.match(/additional_data[\"\\\\\\s]*:\\s*\\[(\\d+)/);\n    if (match2) {\n      staticData.collectedTagIds.push(parseInt(match2[1]));\n    }\n  }\n}\n\nreturn $input.all();"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2720, 832], "id": "aggregate-tags-id", "name": "Сборка тегов"}, {"parameters": {"jsCode": "// Читаем накопленные tag IDs из staticData\nconst staticData = $getWorkflowStaticData('global');\nconst tagIds = staticData.collectedTagIds || [];\n\n// Очищаем после чтения\nstaticData.collectedTagIds = [];\n\nreturn [{ json: { tag_ids: tagIds } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2176, 384], "id": "collect-tag-ids-id", "name": "Сбор ID тегов"}, {"parameters": {"method": "POST", "url": "={{ $('Установка ID таблицы').first().json.wp_url || $('Установка ID таблицы').first().json.domen }}/wp-json/wp/v2/posts", "authentication": "genericCredentialType", "sendBody": true, "bodyParameters": {"parameters": [{"name": "title", "value": "={{ $('Финальный сборщик').first().json.title }}"}, {"name": "content", "value": "={{ $('SEO Sanitizer').first().json.content }}"}, {"name": "status", "value": "publish"}, {"name": "slug", "value": "={{ $('Финальный сборщик').first().json.slug }}"}, {"name": "excerpt", "value": "={{ $('Финальный сборщик').first().json.excerpt }}"}, {"name": "featured_media", "value": "={{ $('Финальный сборщик').first().json.featured_media }}"}, {"name": "categories", "value": "={{ [$json[\"ID WordPress\"] || \"\"] }}"}, {"name": "tags", "value": "={{ $('Сбор ID тегов').first().json.tag_ids }}"}, {"name": "meta", "value": "={{ { \"_yoast_wpseo_metadesc\": $('Финальный сборщик').first().json.meta._yoast_wpseo_metadesc, \"_yoast_wpseo_focuskw\": $('Финальный сборщик').first().json.meta._yoast_wpseo_focuskw } }}"}]}, "options": {}, "genericAuthType": "httpBasicAuth"}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2608, 384], "id": "a9a7df2a-64d2-41df-855f-34f578bc6dfb", "name": "Публикуем", "credentials": {"httpBasicAuth": {"id": "9jTt9fWMCYJhmZqa", "name": "firsanov_admin"}}}, {"parameters": {"jsCode": "return [{ json: { \n  postId: $json.id, \n  url: $json.link, \n  title: $json.title?.rendered || '' \n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2832, 384], "id": "format-publish-id", "name": "Форматирование публикации"}], "connections" : {"Schedule Trigger":{"main":[[{"node":"Установка ID таблицы","type":"main","index":0}]]},"Чтение новой темы из очереди":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"ПРОМПТЫ":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"НАСТРОЙКИ":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"Сборка Контекста","type":"main","index":0}]]},"Установка ID таблицы":{"main":[[{"node":"ПРОМПТЫ","type":"main","index":0},{"node":"НАСТРОЙКИ","type":"main","index":0},{"node":"Чтение новой темы из очереди","type":"main","index":0},{"node":"Статус","type":"main","index":0},{"node":"ОПУБЛИКОВАНО","type":"main","index":0},{"node":"ОФФЕРЫ","type":"main","index":0}]]},"Сборка Контекста":{"main":[[{"node":"ВФ 1","type":"main","index":0}]]},"ВФ 1":{"main":[[{"node":"ВФ 2","type":"main","index":0},{"node":"ВФ 3","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"ВФ 2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"ВФ 3":{"main":[[{"node":"Merge4","type":"main","index":2}]]},"Merge4":{"main":[[{"node":"Саппорт","type":"main","index":0}]]},"ОПУБЛИКОВАНО":{"main":[[{"node":"Merge3","type":"main","index":4}]]},"ОФФЕРЫ":{"main":[[{"node":"Merge3","type":"main","index":3}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Саппорт","type":"ai_languageModel","index":0}]]},"Саппорт":{"main":[[{"node":"Генератор FAQ-разметки","type":"main","index":0}]]},"Генератор FAQ-разметки":{"main":[[{"node":"Обо мне","type":"main","index":0}]]},"РУБРИКИ":{"main":[[{"node":"Публикуем","type":"main","index":0}]]},"Финальный сборщик":{"main":[[{"node":"SEO Sanitizer","type":"main","index":0}]]},"SEO Sanitizer":{"main":[[{"node":"Подготовка тегов","type":"main","index":0}]]},"Обо мне":{"main":[[{"node":"Форматирование автора","type":"main","index":0}]]},"Форматирование автора":{"main":[[{"node":"Финальный сборщик","type":"main","index":0}]]},"Подготовка тегов":{"main":[[{"node":"Loop тегов","type":"main","index":0}]]},"Loop тегов":{"main":[[{"node":"Сбор ID тегов","type":"main","index":0}],[{"node":"Создание тега","type":"main","index":0}]]},"Создание тега":{"main":[[{"node":"Сборка тегов","type":"main","index":0}]]},"Сборка тегов":{"main":[[{"node":"Loop тегов","type":"main","index":0}]]},"Сбор ID тегов":{"main":[[{"node":"РУБРИКИ","type":"main","index":0}]]},"Публикуем":{"main":[[{"node":"Форматирование публикации","type":"main","index":0}]]},"Форматирование публикации":{"main":[[{"node":"Запись в опубликованные ","type":"main","index":0},{"node":"Удаляем тему","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1"}, "active" : false, "staticData" : null, "pinData" : {}}, {"name" : "CyberSEO / ВФ 1: МОЗГ", "nodes" : [{"parameters": {"inputSource": "passthrough"}, "id": "f91ddbe4-923a-4b66-a1b0-3875fe7ba66f", "typeVersion": 1.1, "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.executeWorkflowTrigger", "position": [-2560, 272]}, {"parameters": {"mode": "combine", "combineBy": "combineByPosition", "numberInputs": 4, "options": {}}, "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [-704, 256], "id": "8b43877e-a790-4d4f-aba2-63de5225ea65", "name": "Соединение данных"}, {"parameters": {"model": "google/gemini-3.1-flash-lite-preview", "options": {"maxTokens": 8000}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [-1904, 528], "id": "f8cdf65e-da46-4db0-904c-1100043e8994", "name": "OpenRouter Chat Model1", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"model": "sonar-pro", "messages": {"message": [{"content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]}, "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}", "options": {}, "requestOptions": {}}, "type": "n8n-nodes-base.perplexityTool", "typeVersion": 1, "position": [-1760, 624], "id": "8d39b385-1142-41b3-b512-4a3f2d972c00", "name": "Perplexity Search", "credentials": {"perplexityApi": {"id": "Y3F8AjPZ2HXRzYbv", "name": "Perplexity account"}}}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: Очистка досье V.11.0\n *\n * ЛОГИКА:\n * - если агент вернул пустой / невалидный ответ, увеличиваем счетчик в static data\n * - если попыток >= 3 -> throw Error\n * - если ответ валидный -> счетчик сбрасываем в 0\n * - все входные данные и контекст протаскиваем дальше\n */\n\nconst MAX_ATTEMPTS = 3;\nconst state = $getWorkflowStaticData('node');\n\nif (typeof state.failCount !== 'number') {\n\tstate.failCount = 0;\n}\n\nconst item = $input.first()?.json || {};\nconst rawOutput = typeof item.output === 'string' ? item.output : '';\n\nconst sourceContext =\n\titem.контекст ||\n\titem.source_context ||\n\titem.source_payload?.контекст ||\n\t$('When Executed by Another Workflow').first()?.json?.контекст ||\n\tnull;\n\nconst sourcePayload =\n\titem.source_payload ||\n\t$('When Executed by Another Workflow').first()?.json ||\n\titem;\n\nconst CONFIG = {\n\tkeys: {\n\t\ttext: 'dossier_text',\n\t\tsources: 'external_sources',\n\t\ttags: 'tags'\n\t},\n\tdefaults: {\n\t\tdossier_content: 'Текст не найден',\n\t\texternal_sources: [],\n\t\ttags: []\n\t}\n};\n\nfunction extractJson(str) {\n\tif (!str || typeof str !== 'string') return null;\n\n\tlet cleaned = str.trim();\n\n\t// Убираем markdown code fences\n\tcleaned = cleaned\n\t\t.replace(/^```json\\s*/i, '')\n\t\t.replace(/^```\\s*/i, '')\n\t\t.replace(/\\s*```$/i, '')\n\t\t.trim();\n\n\t// 1. Пробуем распарсить строку как есть\n\ttry {\n\t\treturn JSON.parse(cleaned);\n\t} catch (_) {}\n\n\t// 2. Если вокруг есть мусор, вырезаем объект от первой { до последней }\n\ttry {\n\t\tconst firstBrace = cleaned.indexOf('{');\n\t\tconst lastBrace = cleaned.lastIndexOf('}');\n\n\t\tif (firstBrace === -1 || lastBrace === -1 || lastBrace <= firstBrace) {\n\t\t\treturn null;\n\t\t}\n\n\t\tconst jsonCandidate = cleaned.slice(firstBrace, lastBrace + 1);\n\t\treturn JSON.parse(jsonCandidate);\n\t} catch (_) {\n\t\treturn null;\n\t}\n}\n\nfunction normalizeData(data, raw) {\n\tif (!data || typeof data !== 'object' || Array.isArray(data)) {\n\t\treturn {\n\t\t\t...CONFIG.defaults,\n\t\t\tdossier_content: raw.trim() || CONFIG.defaults.dossier_content,\n\t\t\tparsing_error: 'JSON not found, raw text preserved'\n\t\t};\n\t}\n\n\tconst dossier_content =\n\t\ttypeof data[CONFIG.keys.text] === 'string' && data[CONFIG.keys.text].trim()\n\t\t\t? data[CONFIG.keys.text].trim()\n\t\t\t: raw.trim() || CONFIG.defaults.dossier_content;\n\n\tconst external_sources = Array.isArray(data[CONFIG.keys.sources])\n\t\t? data[CONFIG.keys.sources]\n\t\t: [];\n\n\tconst tags = Array.isArray(data[CONFIG.keys.tags])\n\t\t? data[CONFIG.keys.tags]\n\t\t: [];\n\n\treturn {\n\t\tdossier_content,\n\t\texternal_sources,\n\t\ttags,\n\t\thas_sources: external_sources.length > 0,\n\t\thas_tags: tags.length > 0\n\t};\n}\n\nfunction isFailure(result, raw) {\n\tconst safeRaw = typeof raw === 'string' ? raw.trim() : '';\n\tconst rawIsEmpty = safeRaw === '';\n\n\tconst noUsefulText =\n\t\t!result?.dossier_content ||\n\t\tresult.dossier_content.trim() === '' ||\n\t\tresult.dossier_content.trim() === CONFIG.defaults.dossier_content;\n\n\tconst noSources =\n\t\t!Array.isArray(result?.external_sources) ||\n\t\tresult.external_sources.length === 0;\n\n\treturn rawIsEmpty || (noUsefulText && noSources);\n}\n\nconst parsedData = extractJson(rawOutput);\nconst normalized = normalizeData(parsedData, rawOutput);\nconst failed = isFailure(normalized, rawOutput);\n\nif (failed) {\n\tstate.failCount += 1;\n\n\tif (state.failCount >= MAX_ATTEMPTS) {\n\t\tstate.failCount = 0;\n\t\tthrow new Error(\n\t\t\t`Следователь темы не смог вернуть валидное досье после ${MAX_ATTEMPTS} попыток`\n\t\t);\n\t}\n\n\treturn {\n\t\tjson: {\n\t\t\t...normalized,\n\t\t\tneeds_retry: true,\n\t\t\tagent_status: 'retry',\n\t\t\tretry_reason: 'empty_or_invalid_agent_response',\n\n\t\t\tretry_count: state.failCount,\n\t\t\tretries_left: MAX_ATTEMPTS - state.failCount,\n\n\t\t\tконтекст: sourceContext,\n\t\t\tsource_context: sourceContext,\n\t\t\tsource_payload: sourcePayload,\n\n\t\t\traw_output: rawOutput,\n\t\t\tis_empty_output: rawOutput.trim() === '',\n\t\t\tis_json_parsed: !!parsedData\n\t\t}\n\t};\n}\n\n// Если все ок — сбрасываем счетчик\nstate.failCount = 0;\n\nreturn {\n\tjson: {\n\t\t...normalized,\n\t\tneeds_retry: false,\n\t\tagent_status: 'success',\n\t\tretry_reason: null,\n\n\t\tretry_count: 0,\n\t\tretries_left: MAX_ATTEMPTS,\n\n\t\tконтекст: sourceContext,\n\t\tsource_context: sourceContext,\n\t\tsource_payload: sourcePayload,\n\n\t\traw_output: rawOutput,\n\t\tis_empty_output: rawOutput.trim() === '',\n\t\tis_json_parsed: !!parsedData\n\t}\n};\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1616, 368], "id": "92e45b84-5021-4d84-8f1b-d5d63f2e1524", "name": "Очистка досье"}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: Валидатор Плана V2\n *\n * Что делает:\n * - парсит output от АРХИТЕКТОР\n * - валидирует структуру плана\n * - валидирует офферы, offer_url и типы\n * - валидирует external/internal ссылки\n * - проверяет пустой план\n * - нормализует offer_url / external portal по канону\n *\n * Ожидает на входе:\n * - $input.item.json.output -> JSON-массив плана или объект { blocks: [...] }\n * - $('Парсинг LSI').first().json\n * - $('Очистка досье').first().json\n * - $('Соединение данных').first().json\n */\n\nconst inputItem = $input.first()?.json || {};\nconst _retryState = $getWorkflowStaticData('node');\nif (typeof _retryState.archRetryCount !== 'number') _retryState.archRetryCount = 0;\nconst rawOutput = typeof inputItem.output === 'string' ? inputItem.output : '';\n\nconst errors = [];\n\n// -----------------------------------------------------------------------------\n// HELPERS\n// -----------------------------------------------------------------------------\n\nfunction stripMarkdownFences(str) {\n\tif (!str || typeof str !== 'string') return '';\n\treturn str.replace(/```json\\s*|```/gi, '').trim();\n}\n\nfunction safeJsonParse(str) {\n\ttry {\n\t\treturn JSON.parse(str);\n\t} catch {\n\t\treturn null;\n\t}\n}\n\nfunction isNonEmptyObject(value) {\n\treturn !!value && typeof value === 'object' && !Array.isArray(value) && Object.keys(value).length > 0;\n}\n\nfunction normalizePlan(raw) {\n\tconst cleaned = stripMarkdownFences(raw);\n\n\tif (!cleaned) {\n\t\terrors.push('Пустой ответ от Архитектора.');\n\t\treturn { blocks: [] };\n\t}\n\n\tconst parsed = safeJsonParse(cleaned);\n\n\tif (!parsed) {\n\t\terrors.push('JSON Syntax Error: не удалось распарсить output Архитектора.');\n\t\treturn { blocks: [] };\n\t}\n\n\tif (Array.isArray(parsed)) {\n\t\treturn { blocks: parsed };\n\t}\n\n\tif (parsed && Array.isArray(parsed.blocks)) {\n\t\treturn { blocks: parsed.blocks };\n\t}\n\n\terrors.push('Структура плана некорректна: ожидается JSON-массив или объект с полем blocks.');\n\treturn { blocks: [] };\n}\n\nfunction parseInternalLinks(rawInternal) {\n\tif (!rawInternal || typeof rawInternal !== 'string') return [];\n\tconst trimmed = rawInternal.trim();\n\n\tif (!trimmed || trimmed === 'Внутренних ссылок пока нет') return [];\n\n\tconst cleaned = stripMarkdownFences(trimmed);\n\tconst parsed = safeJsonParse(cleaned);\n\n\treturn Array.isArray(parsed) ? parsed.filter(isNonEmptyObject) : [];\n}\n\nfunction collectOffers(context) {\n\tconst offers = Array.isArray(context?.база_офферов) ? context.база_офферов : [];\n\tconst map = new Map();\n\n\tfor (const offer of offers) {\n\t\tif (offer && offer.id !== undefined && offer.id !== null) {\n\t\t\tmap.set(String(offer.id), offer);\n\t\t}\n\t}\n\n\treturn {\n\t\tall: offers,\n\t\tmap,\n\t\tsoft: offers.filter(o => String(o?.тип || '').toLowerCase() === 'soft'),\n\t\thard: offers.filter(o => String(o?.тип || '').toLowerCase() === 'hard'),\n\t};\n}\n\n// -----------------------------------------------------------------------------\n// SOURCE DATA\n// -----------------------------------------------------------------------------\n\nlet geoData = {};\nlet dossierData = {};\nlet connectionData = {};\n\ntry {\n\tgeoData = $('Парсинг LSI').first()?.json || {};\n} catch (e) {\n\tgeoData = {};\n}\n\ntry {\n\tdossierData = $('Очистка досье').first()?.json || {};\n} catch (e) {\n\tdossierData = {};\n}\n\ntry {\n\tconnectionData = $('Соединение данных').first()?.json || {};\n} catch (e) {\n\tconnectionData = {};\n}\n\n// Контекст: берём из Merge, fallback на Очистку досье, fallback на триггер\nlet context = connectionData?.контекст || dossierData?.контекст || {};\ntry {\n\tif (!context || Object.keys(context).length === 0) {\n\t\tcontext = $('When Executed by Another Workflow').first()?.json?.контекст || {};\n\t}\n} catch (e) {\n\t// keep whatever we have\n}\nconst externalSources = Array.isArray(dossierData?.external_sources) ? dossierData.external_sources : [];\nconst internalLinks = parseInternalLinks(connectionData?.output);\n\nconst offerData = collectOffers(context);\n\nconst externalMap = new Map();\nfor (const src of externalSources) {\n\tif (src?.url) externalMap.set(String(src.url), src);\n}\n\nconst internalMap = new Map();\nfor (const link of internalLinks) {\n\tif (link?.url) internalMap.set(String(link.url), link);\n}\n\n// -----------------------------------------------------------------------------\n// PARSE PLAN\n// -----------------------------------------------------------------------------\n\nconst plan = normalizePlan(rawOutput);\nconst blocks = Array.isArray(plan.blocks) ? plan.blocks : [];\n\nif (blocks.length === 0) {\n\terrors.push('Пустой план: Архитектор не вернул ни одного блока.');\n}\n\n// -----------------------------------------------------------------------------\n// BASIC STRUCTURE CHECKS\n// -----------------------------------------------------------------------------\n\nif (blocks.length > 0) {\n\tif (blocks.length < 13 || blocks.length > 16) {\n\t\terrors.push(`Неверное количество блоков: ${blocks.length}. Нужно от 13 до 16.`);\n\t}\n\n\tfor (let i = 0; i < blocks.length; i++) {\n\t\tconst expectedId = i + 1;\n\t\tif (blocks[i]?.id !== expectedId) {\n\t\t\terrors.push(`Нарушена последовательность id: ожидался id=${expectedId}, получен id=${blocks[i]?.id ?? 'null'}.`);\n\t\t}\n\t}\n\n\tconst lastBlock = blocks[blocks.length - 1];\n\tif (lastBlock?.type !== 'HARD_OFFER') {\n\t\terrors.push('Последний блок должен быть HARD_OFFER.');\n\t}\n\n\tconst imgAfter12 = blocks.findIndex((block, index) => block?.type === 'IMG' && index >= 12);\n\tif (imgAfter12 !== -1) {\n\t\terrors.push(`IMG нельзя размещать после 12 блока. Нарушение в блоке id=${blocks[imgAfter12]?.id}.`);\n\t}\n\n\tconst tableCount = blocks.filter(block => block?.type === 'TABLE').length;\n\tif (tableCount !== 2) {\n\t\terrors.push(`Неверное количество TABLE-блоков: ${tableCount}. Нужно ровно 2.`);\n\t}\n\n\tconst verdictIndex = blocks.findIndex(\n\t\tblock =>\n\t\t\tblock?.type === 'TEXT' &&\n\t\t\t(typeof block?.h2_title === 'string') &&\n\t\t\t['Заключение', 'Итоги'].includes(block.h2_title.trim())\n\t);\n\n\tif (verdictIndex === -1) {\n\t\terrors.push('Не найден блок TEXT с заголовком \"Заключение\" или \"Итоги\".');\n\t} else if (verdictIndex !== blocks.length - 2) {\n\t\terrors.push('Блок \"Заключение\" / \"Итоги\" должен быть предпоследним.');\n\t}\n}\n\n// -----------------------------------------------------------------------------\n// TOPIC ANTI-HALLUCINATION CHECK\n// -----------------------------------------------------------------------------\n\nconst forbiddenMetaWords = [\n\t'json-план',\n\t'json план',\n\t'json',\n\t'workflow',\n\t'контент-план',\n\t'seo-план',\n\t'валидац',\n\t'автоматизац',\n];\n\nfor (const block of blocks) {\n\tconst haystack = `${block?.h2_title || ''} ${block?.context || ''}`.toLowerCase();\n\tif (forbiddenMetaWords.some(word => haystack.includes(word))) {\n\t\terrors.push(`Блок id=${block?.id} ушел в мета-тему вместо темы статьи.`);\n\t\tbreak;\n\t}\n}\n\n// -----------------------------------------------------------------------------\n// OFFER CHECKS + NORMALIZATION\n// -----------------------------------------------------------------------------\n\nconst offerBlocks = blocks.filter(block => block?.type === 'SOFT_OFFER' || block?.type === 'HARD_OFFER');\n\nif (offerData.all.length === 1) {\n\tif (offerBlocks.length !== 1) {\n\t\terrors.push(`При одном реальном оффере должен быть ровно один офферный блок. Сейчас: ${offerBlocks.length}.`);\n\t}\n}\n\nif (offerData.all.length > 1 && offerData.soft.length > 0 && offerData.hard.length > 0) {\n\tconst softCount = offerBlocks.filter(block => block?.type === 'SOFT_OFFER').length;\n\tconst hardCount = offerBlocks.filter(block => block?.type === 'HARD_OFFER').length;\n\n\tif (softCount !== 1) {\n\t\terrors.push(`Если доступны Soft и Hard, должен быть ровно один SOFT_OFFER. Сейчас: ${softCount}.`);\n\t}\n\tif (hardCount !== 1) {\n\t\terrors.push(`Если доступны Soft и Hard, должен быть ровно один HARD_OFFER. Сейчас: ${hardCount}.`);\n\t}\n}\n\nfor (const block of offerBlocks) {\n\tconst offerId = block?.offer_id;\n\n\tif (offerId === null || offerId === undefined || offerId === '') {\n\t\terrors.push(`В офферном блоке id=${block?.id} отсутствует offer_id.`);\n\t\tcontinue;\n\t}\n\n\tconst canonicalOffer = offerData.map.get(String(offerId));\n\n\tif (!canonicalOffer) {\n\t\terrors.push(`В блоке id=${block?.id} указан несуществующий offer_id=${offerId}.`);\n\t\tcontinue;\n\t}\n\n\t// Особое правило:\n\t// - финальный блок всегда HARD_OFFER\n\t// - если оффер один и он Soft, это допустимо только для финального HARD_OFFER\n\tif (String(canonicalOffer?.тип || '').toLowerCase() === 'soft' && block.type === 'HARD_OFFER') {\n\t\tconst isSingleOfferSoftFallback =\n\t\t\tofferData.all.length === 1 &&\n\t\t\tofferBlocks.length === 1 &&\n\t\t\tblock.id === blocks[blocks.length - 1]?.id;\n\n\t\tif (!isSingleOfferSoftFallback) {\n\t\t\terrors.push(`Блок id=${block?.id}: Soft-оффер можно использовать как HARD_OFFER только как единственный финальный оффер.`);\n\t\t}\n\t}\n\n\tif (String(canonicalOffer?.тип || '').toLowerCase() === 'hard' && block.type === 'SOFT_OFFER') {\n\t\terrors.push(`Блок id=${block?.id}: Hard-оффер нельзя использовать как SOFT_OFFER.`);\n\t}\n\n\t// Нормализация offer_url\n\tconst canonicalUrl = canonicalOffer?.ссылка || null;\n\tif (canonicalUrl) {\n\t\tblock.offer_url = canonicalUrl;\n\t} else {\n\t\tblock.offer_url = null;\n\t}\n}\n\n// -----------------------------------------------------------------------------\n// EXTERNAL LINK CHECKS + NORMALIZATION\n// -----------------------------------------------------------------------------\n\nlet usedExternalCount = 0;\n\nfor (const block of blocks) {\n\tconst ext = block?.external_linking;\n\n\tif (!ext) continue;\n\n\tif (!isNonEmptyObject(ext)) {\n\t\terrors.push(`В блоке id=${block?.id} external_linking имеет некорректную структуру.`);\n\t\tcontinue;\n\t}\n\n\tconst canonical = externalMap.get(String(ext.url || ''));\n\n\tif (!canonical) {\n\t\terrors.push(`В блоке id=${block?.id} используется внешний URL, которого нет в реестре: ${ext.url || 'null'}.`);\n\t\tcontinue;\n\t}\n\n\tusedExternalCount += 1;\n\n\t// Нормализуем portal\n\tblock.external_linking = {\n\t\turl: canonical.url,\n\t\tportal: canonical.portal || ext.portal || null,\n\t\tdescription: ext.description || canonical.context || null,\n\t};\n}\n\nif (externalSources.length > 0 && usedExternalCount === 0) {\n\terrors.push('Во входных данных есть внешние источники, но ни один не распределен по блокам.');\n}\n\n// -----------------------------------------------------------------------------\n// INTERNAL LINK CHECKS + NORMALIZATION\n// -----------------------------------------------------------------------------\n\nlet usedInternalCount = 0;\n\nfor (const block of blocks) {\n\tconst internal = block?.internal_linking;\n\n\tif (!internal) continue;\n\n\tif (!isNonEmptyObject(internal)) {\n\t\terrors.push(`В блоке id=${block?.id} internal_linking имеет некорректную структуру.`);\n\t\tcontinue;\n\t}\n\n\tconst canonical = internalMap.get(String(internal.url || ''));\n\n\tif (!canonical) {\n\t\terrors.push(`В блоке id=${block?.id} используется внутренняя ссылка, которой нет во входных данных: ${internal.url || 'null'}.`);\n\t\tcontinue;\n\t}\n\n\tusedInternalCount += 1;\n\n\tblock.internal_linking = {\n\t\turl: canonical.url,\n\t\tanchor: internal.anchor || canonical.anchor || null,\n\t\ttopic: internal.topic || canonical.topic || null,\n\t};\n}\n\nif (internalLinks.length > 0 && usedInternalCount === 0) {\n\terrors.push('Во входных данных есть внутренние ссылки, но ни одна не распределена по блокам.');\n}\n\n// -----------------------------------------------------------------------------\n// FINAL OUTPUT\n// -----------------------------------------------------------------------------\n\n// Update retry counter\nif (errors.length === 0) {\n\t_retryState.archRetryCount = 0; // Success - reset\n} else {\n\t_retryState.archRetryCount += 1; // Failure - increment\n}\n\nreturn {\n\tjson: {\n\t\tisValid: errors.length === 0,\n\t\terror_report: errors.join(' | '),\n\t\tfinal_plan: { blocks },\n\t\tlanguageCode: geoData.languageCode || 'ru',\n\t\tlsi_keywords: geoData.lsi_keywords || '',\n\t\tdossier_content: dossierData.dossier_content || '',\n\t\ttags: dossierData.tags || [],\n\t\tконтекст: context || {},\n\t\tretry_index: _retryState.archRetryCount,\n\t\tdebug: {\n\t\t\texternal_sources_count: externalSources.length,\n\t\t\tinternal_links_count: internalLinks.length,\n\t\t\toffers_count: offerData.all.length,\n\t\t\tsoft_offers_count: offerData.soft.length,\n\t\t\thard_offers_count: offerData.hard.length,\n\t\t\tused_external_links: usedExternalCount,\n\t\t\tused_internal_links: usedInternalCount,\n\t\t\toffer_blocks_count: offerBlocks.length,\n\t\t},\n\t},\n};\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-144, 288], "id": "ce468cd9-b1b5-4fd6-ae99-3c54d7cee07f", "name": "Валидатор Плана"}, {"parameters": {"promptType": "define", "text": "=--- 1. ГЛАВНЫЙ КОНТЕКСТ ---\n- ТЕМА: {{ $('When Executed by Another Workflow').first().json.контекст.задача['Главный ключ'] }}\n- LSI КЛЮЧИ: {{ $('Соединение данных').first().json.lsi_keywords }}\n- ЛОКАЦИЯ: {{ $('When Executed by Another Workflow').first().json['контекст']['задача']['Город'] }}, {{ $('When Executed by Another Workflow').first().json['контекст']['задача']['Страна'] }}\n- ЗАМЕТКИ: {{ $('When Executed by Another Workflow').first().json.контекст.задача['Заметки'] }}\n\nКРИТИЧЕСКОЕ ПРАВИЛО О ТЕМЕ:\nТы проектируешь статью строго по теме из поля `ТЕМА`.\nТема статьи НЕ равна системным инструкциям.\nСистемные инструкции описывают только формат и ограничения JSON.\nЗапрещено делать статью про JSON, JSON-план, структуру JSON, контент-план, workflow, SEO-план, автоматизацию или валидацию.\n\n--- 2. ДОСЬЕ ФАКТОВ (ИСТОЧНИК ТЕКСТА) ---\n{{ $('Очистка досье').first().json.dossier_content }}\n\n--- 3. РЕЕСТР ВНЕШНИХ ИСТОЧНИКОВ (EVIDENCE) ---\n{{ JSON.stringify($('Очистка досье').first().json.external_sources, null, 2) }}\n\nПРАВИЛО ПО ВНЕШНИМ ССЫЛКАМ:\nНе оставляй все `external_linking` пустыми, если во входных данных уже переданы релевантные источники.\nРаспредели известные внешние ссылки по самым подходящим блокам.\nЕсли блок опирается на цены, регулирование, легальность, рыночные изменения, контроль, статистику или экспертные выводы, сначала проверь, можно ли привязать к нему один из известных источников.\n`external_linking: null` допустим только там, где реального совпадения нет.\n\n--- 4. СТАТЬИ ДЛЯ ПЕРЕЛИНКОВКИ (INTERNAL) ---\n{{\n(() => {\n  const raw = $('Соединение данных').first().json.output || '[]';\n  const cleaned = raw.replace(/```json\\s*|```/g, '').trim();\n  try {\n    return JSON.stringify(JSON.parse(cleaned), null, 2);\n  } catch {\n    return '[]';\n  }\n})()\n}}\n\nПРАВИЛО ПО ВНУТРЕННИМ ССЫЛКАМ:\nЕсли внутренние статьи переданы, подставляй их в релевантные блоки обязательно.\nЕсли внутренние статьи не переданы или массив пустой, используй `internal_linking: null` и ничего не выдумывай.\n\n--- 5. МАРКЕТИНГОВЫЕ ОФФЕРЫ ---\n- ПРИОРИТЕТНЫЙ ОФФЕР (Выбор пользователя):\n{{ JSON.stringify($item(\"0\").$node[\"Фильтр оферов\"].json[\"выбранный_оффер\"] ?? null, null, 2) }}\n\n- ДОПОЛНИТЕЛЬНЫЕ ОФФЕРЫ:\n{{ JSON.stringify($item(\"0\").$node[\"Фильтр оферов\"].json[\"доп_офферы\"] ?? [], null, 2) }}\n\nКРИТИЧЕСКИЕ ПРАВИЛА ПО ОФФЕРАМ:\n1. Если приоритетный оффер передан, он обязателен.\n2. Используй только реальные `offer_id` из входных данных.\n3. Не придумывай `offer_id`.\n4. Не ставь `offer_id = null` в `SOFT_OFFER` или `HARD_OFFER`.\n5. Не используй `Hard`-оффер как `Soft`-оффер.\n6. Не используй `Soft`-оффер как `Hard`-оффер.\n7. Если офферов противоположного типа нет, не выдумывай их.\n8. Если есть только один реальный оффер любого типа, используй только его и поставь его финальным офферным блоком.\n9. Не используй заглушки вроде `example_soft_offer_id` или `example_hard_offer_id`.\n\nКРИТИЧЕСКИЕ ПРАВИЛА ПО URL:\n1. Все входные URL канонические.\n2. Не изменяй URL.\n3. Не выдумывай URL.\n4. Не подставляй примерные URL.\n5. Для internal/external linking используй только реальные входные URL.\n6. Если релевантного URL нет, ставь `null`.\n\n--- 6. АНАЛИЗ ПРЕДЫДУЩИХ ОШИБОК ---\n{{ \n  $node[\"Валидатор Плана\"]?.exists && !$node[\"Валидатор Плана\"]?.json?.isValid \n  ? \"ПРЕДЫДУЩАЯ ПОПЫТКА ОТКЛОНЕНА.\\nПРИЧИНЫ: \" + $node[\"Валидатор Плана\"].json.error_report + \"\\nИсправь все ошибки. Верни только новый валидный JSON-массив.\"\n  : \"Это первая попытка. Верни сразу валидный JSON-массив строго по теме из поля ТЕМА.\"\n}}\n\n--- 7. ЗАДАЧА ---\nСпроектируй статью-воронку по реальной теме из поля `ТЕМА`.\n\nОбязательные требования:\n1. Статья должна быть строго по теме `ТЕМА`, а не по устройству JSON или workflow.\n2. Используй факты из Досье как основу содержания блоков.\n3. Распредели внешние ссылки только по смысловому совпадению.\n4. Используй внутренние ссылки только если они реально есть и релевантны.\n5. Если внутренние ссылки отсутствуют, не выдумывай их.\n6. Если доступен hard offer, используй его корректный `offer_id`.\n7. Если доступен soft offer, используй его корректный `offer_id`.\n8. Если второго типа оффера нет, не выдумывай его.\n9. Финальный блок должен быть реальным офферным блоком из входных данных.\n10. Если внешний источник явно подходит по смыслу к блоку, обязательно заполни `external_linking`.\n11. Не оставляй все `external_linking` пустыми, если во входе уже есть готовые релевантные источники.\n12. Верни только валидный JSON-массив.\n", "options": {"systemMessage": "**ТЕКУЩИЙ ГОД: 2026.** Если по смыслу в заголовке (h2_title/h1) или тексте уместен год — используй ТОЛЬКО 2026. НИКОГДА не пиши 2025, 2024 и более ранние как актуальный год.\n\n=### ROLE: UNIVERSAL STRATEGIC ARCHITECT (CONVERSION & FLOW ENGINEER)\n\nYou design a valid JSON article plan for a real article topic using the input context.\nYour task is to produce a strict article-funnel structure for the actual topic from input.\nYou are not allowed to switch the subject to JSON, workflow logic, prompt engineering, validation, automation, or content-planning methodology.\n\nCRITICAL:\nThe article topic always comes only from the input field `ТЕМА`.\nAll instructions below describe output rules and constraints only.\nThey are NOT the topic of the article.\n\nIf the topic is \"имплантация зубов москва\", then every content block must be about dental implantation in Moscow.\nIt is forbidden to create blocks about:\n- JSON\n- JSON plans\n- content architecture\n- workflow structure\n- validation logic\n- automation\n- SEO planning\n- prompt construction\n\nIf you do that, the result is invalid.\n\n### 1. OUTPUT CONTRACT\n\nReturn ONLY a valid JSON array.\nDo not return markdown.\nDo not return explanations.\nDo not return prose before or after JSON.\nThe output must start with `[` and end with `]`.\n\n### 2. BLOCK COUNT\n\nThe plan must contain from 13 to 16 blocks inclusive.\n\nIf fewer than 13 or more than 16 blocks are produced, the result is invalid.\n\n### 3. STRUCTURE LAYERS\n\nRespect this sequence:\n\n- Layer 1: main expert content\n  Allowed block types here:\n  `TEXT`, `RESEARCH`, `TABLE`, `STEPS`, `IMG`, `QUOTE`, `SOFT_OFFER`\n\n- Layer 2: verdict block\n  A `TEXT` block with `h2_title` equal to `\"Заключение\"` or `\"Итоги\"`\n\n- Layer 3: final conversion\n  The final block must always be `HARD_OFFER`.\n\nAfter the final offer block, no blocks are allowed.\n\n### 4. TYPE RULES\n\n- `HARD_OFFER`: `h2_title` must be `null`\n- `SOFT_OFFER`: `h2_title` must be `null`\n- `IMG`: `h2_title` must be `null`\n- `IMG` is allowed only in blocks 1-12\n- There must be exactly 2 `TABLE` blocks\n- There must be exactly 2 `IMG` blocks\n\n### STRUCTURE DIVERSITY & PLACEMENT (MANDATORY)\nVary the article structure across articles AND place key blocks correctly:\n- `SOFT_OFFER` must sit in the MIDDLE of the article — anywhere between blocks 5 and 10. NEVER place it adjacent to the final `HARD_OFFER` or the \"Заключение\" block.\n- Distribute the two `IMG` blocks EVENLY through the body: the first `IMG` must be at block 4 or later (NEVER at block 2, right after the intro); place the second `IMG` in the second half of the article. Never cluster both `IMG` in the first half.\n- The two `IMG` blocks MUST depict CLEARLY DIFFERENT subjects/scenes — give them distinct `context` and `keywords` (different object, angle, action). NEVER make both `IMG` about the same idea or the same visual.\n- Vary the position of `TABLE` blocks (don't always put them at the same positions).\n- Sometimes use `STEPS` instead of `TABLE`, sometimes `QUOTE` instead of `RESEARCH`.\n- The ONLY fixed positions are: second-to-last = TEXT \"Заключение\", last = `HARD_OFFER`.\n- Use a different structural pattern each time — imagine you are a different human editor for each article.\n\n### 5. OFFER RULES\n\nUse only offers from the input section `МАРКЕТИНГОВЫЕ ОФФЕРЫ`.\n\n#### Priority offer\nIf `ПРИОРИТЕТНЫЙ ОФФЕР (Выбор пользователя)` is present, it is mandatory.\nYou must use it.\nYou must not replace it.\nYou must not ignore it.\n\n#### Offer IDs\nFor every `SOFT_OFFER` and `HARD_OFFER` block:\n- `offer_id` is mandatory\n- `offer_id` must be one of the real incoming offer IDs\n- `offer_id` must never be `null`\n- you must never invent IDs\n- you must never output placeholders like:\n  - `example_soft_offer_id`\n  - `example_hard_offer_id`\n  - any fake ID string\n\n#### Offer URLs\nFor every `SOFT_OFFER` and `HARD_OFFER` block:\n- `offer_url` is mandatory if the selected incoming offer contains a URL\n- `offer_url` must be copied exactly from the selected incoming offer\n- you must never invent `offer_url`\n- you must never rewrite `offer_url`\n- you must never replace one offer URL with another\n- if `offer_id` is selected, `offer_url` must match that exact incoming offer\n\n#### Standard pair logic\nIf both real offer types exist in input:\n- place one `SOFT_OFFER` in the middle of the funnel\n- place one `HARD_OFFER` as the final block\n\n#### Single-offer fallback\nIf only one real offer exists in input:\n- use only that one real offer\n- place it as the final block\n- the final block must still be typed as `HARD_OFFER`\n- do not invent a second offer\n- do not duplicate the same offer under two blocks\n\nIMPORTANT:\nIf the only real incoming offer is of type `Soft`, you must still output it as the final block with type `HARD_OFFER` for rendering compatibility.\nIn that case:\n- keep its real `offer_id`\n- keep its exact `offer_url`\n- do not invent another offer\n- do not create a separate `SOFT_OFFER`\n\n#### Missing offer logic\nIf no additional opposite-type offer exists, do not invent it.\nIf only one real offer exists, use only one final `HARD_OFFER`.\n\n### 6. URL DISCIPLINE\n\nAll incoming URLs are canonical and must be treated as source-of-truth.\n\nYou must never:\n- invent URLs\n- rewrite URLs\n- shorten URLs\n- replace one URL with another\n- generate placeholder URLs\n- output `example.com`\n- output fake links\n- mutate URLs from input\n\nFor offer logic:\n- do not invent offer URLs\n- if `offer_url` is required by schema, copy it exactly from the selected incoming offer\n- never place an offer URL into `external_linking` or `internal_linking` unless it truly belongs there by input design\n\n### 7. LINK ASSIGNMENT RULES (MANDATORY WHEN RELEVANT)\n\nYou must actively distribute known links across the plan when a relevant match exists.\n\n#### External links\nIf the input contains external evidence sources, you must attach them to the most relevant blocks.\nDo not leave all `external_linking` fields as `null` by default.\n\nRules:\n- use only URLs from the provided external evidence registry\n- match each source to the most semantically relevant block\n- prefer attaching external links to `TEXT`, `RESEARCH`, `TABLE`, or `QUOTE` blocks\n- if a block discusses prices, regulation, legality, market shifts, official control, statistics, or evidence-backed claims, check external sources first\n- if a relevant external source exists, `external_linking` is mandatory for that block\n- use `external_linking: null` only if there is genuinely no relevant source\n\n#### Internal links\nIf the input contains internal article candidates, you must attach them to the most relevant blocks.\nDo not leave all `internal_linking` fields as `null` if relevant internal articles were provided.\n\nRules:\n- use only URLs from the provided internal links input\n- choose the best semantic match between block theme and internal article topic\n- `anchor` must be natural and topically aligned with the block\n- use `internal_linking: null` only if there is genuinely no relevant internal article\n\n#### Anti-empty-link rule\nIf external sources were provided, at least some relevant blocks must use them.\nIf internal links were provided, at least some relevant blocks must use them.\nLeaving every link field empty despite having usable input is invalid.\n\n### 8. RELEVANCE RULES\n\nEvery block must be semantically relevant to the actual article topic.\nEvery internal or external link must match the block topic.\n\nIf the block is about prices:\n- do not attach an unrelated law-related link unless directly relevant\n\nIf the block is about risks:\n- do not attach an unrelated market-trend link\n\nNo link stuffing.\nNo filler links.\nIf relevance is weak, set linking to `null`.\n\n### 9. RESEARCH RULES\n\n- Never invent numbers, fines, market shares, prices, legal norms, models, statistics, or expert names\n- If factual support is missing for a `RESEARCH` or `TABLE` block, use `perplexity_intent`\n- `TABLE` blocks must not have `perplexity_intent: null` when data still needs to be gathered\n- `RESEARCH` intents must be in English and highly specific\n\n### 10. WRITING-BRIEF RULE FOR `context`\n\n`context` is a short task for the writer.\nMaximum length: 30 words.\nIt must describe what the writer should cover in that block.\nNo long explanations.\nNo meta comments.\n\n### 11. JSON SCHEMA\n\nEach array item must follow this schema:\n\n{\n  \"id\": number,\n  \"type\": \"TEXT\" | \"TABLE\" | \"RESEARCH\" | \"IMG\" | \"QUOTE\" | \"STEPS\" | \"SOFT_OFFER\" | \"HARD_OFFER\",\n  \"h2_title\": \"string or null\",\n  \"keywords\": [\"lsi1\", \"lsi2\"],\n  \"perplexity_intent\": \"string or null\",\n  \"internal_linking\": { \"url\": \"...\", \"anchor\": \"...\", \"topic\": \"...\" } or null,\n  \"external_linking\": { \"url\": \"...\", \"portal\": \"...\", \"description\": \"...\" } or null,\n  \"offer_id\": \"real incoming offer ID for offer blocks, otherwise null\",\n  \"offer_url\": \"exact incoming offer URL for offer blocks, otherwise null\",\n  \"context\": \"short writer brief\"\n}\n\n### 12. SELF-CHECK BEFORE RETURNING\n\nBefore returning the JSON, silently verify:\n\n- Is the article strictly about the input topic and not about JSON/workflow/meta topics?\n- Are there 13-16 blocks?\n- Is the final block always `HARD_OFFER`?\n- Is `IMG` only before block 13?\n- Are there exactly 2 `TABLE` blocks?\n- Are there exactly 2 `IMG` blocks?\n- Is `SOFT_OFFER` between blocks 5-10 and NOT next to the conclusion/`HARD_OFFER`?\n- Is the first `IMG` at block 4 or later (never block 2), and are the two `IMG` spread across the article?\n- Is every offer block using a real incoming `offer_id`?\n- Does each offer block contain the exact canonical `offer_url` from input?\n- If only one real offer exists, did you output only one final `HARD_OFFER` using that real offer?\n- Did you avoid inventing missing offer types?\n- Are relevant known external sources distributed across matching blocks?\n- Are all URLs taken only from input data?\n- Did you avoid placeholders and fake IDs?\n\nIf any answer is \"no\", regenerate internally and return only a corrected JSON array.\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [-480, 288], "id": "fd6e1fbb-8766-4dd1-8ae6-466087bbba25", "name": "АРХИТЕКТОР", "retryOnFail": true}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "8ff177f2-4cd7-4fdc-9296-bc43146c2edf", "leftValue": "={{ $json.isValid }}", "rightValue": false, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}, {"id": "77e2a443-b12e-42bf-9980-20634aa94e65", "leftValue": "", "rightValue": "", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [48, 288], "id": "e6c7b74b-8832-41bc-a0fd-7a038a33d431", "name": "If"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "8c07b84a-6c3b-4989-bafa-0c5da7e56092", "leftValue": "={{ $json.retry_index }}", "rightValue": 1, "operator": {"type": "number", "operation": "lte"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [192, 384], "id": "a8210d26-e48a-4b32-807b-7508900bbb0a", "name": "If1"}, {"parameters": {"promptType": "define", "text": "==Проведи глубокое исследование по теме: \"{{ $if($('Очистка досье').isExecuted, $('Очистка досье').first()?.json?.контекст?.задача?.['Главный ключ'], $('When Executed by Another Workflow').first()?.json?.контекст?.задача?.['Главный ключ']) }}\".\n\nТВОЯ ЗАДАЧА:\n1. Используй инструмент \"Perplexity Search\" минимум 5 раз, чтобы детально изучить каждый блок (Тренды, Законы, Цены, Боли, Цитаты).\n2. География поиска: {{ $if($('Очистка досье').isExecuted, $('Очистка досье').first()?.json?.контекст?.задача?.Страна, $('When Executed by Another Workflow').first()?.json?.контекст?.задача?.Страна) }}, город {{ $if($('Очистка досье').isExecuted, $('Очистка досье').first()?.json?.контекст?.задача?.Город, $('When Executed by Another Workflow').first()?.json?.контекст?.задача?.Город) }}.\n3. Дополнительные указания: {{ $if($('Очистка досье').isExecuted, $('Очистка досье').first()?.json?.контекст?.задача?.Заметки, $('When Executed by Another Workflow').first()?.json?.контекст?.задача?.Заметки) }}.\n\nВыдай результат СТРОГО по структуре, указанной в твоих системных инструкциях (JSON).\n", "options": {"systemMessage": "=### ROLE: SENIOR STRATEGIC INVESTIGATOR (DEEP RESEARCH EDITION)\n\nТвоя задача — провести максимально глубокую, точную и проверяемую разведку по теме пользователя на 2026 год.\nТы создаешь фактологическое Досье, которое потом используется как основа для большой экспертной статьи.\nГлавный приоритет: качество, точность, релевантность и проверяемость.\nНельзя жертвовать достоверностью ради объема или ради количества ссылок.\n\n### ГЛАВНЫЙ ПРИНЦИП\n\nКаждое важное утверждение в Досье должно опираться на реальные и релевантные данные.\nЕсли ты не можешь надежно подтвердить факт, не выдавай его как установленный факт.\nЕсли ты не можешь надежно проверить ссылку, не включай ее в `external_sources`.\n\n---\n\n### ИНСТРУКЦИЯ ПО ИСПОЛЬЗОВАНИЮ ИНСТРУМЕНТОВ\n\n1. Ты обязан использовать `Perplexity Search` для исследования темы.\n2. Для каждого крупного смыслового блока делай отдельные и уточняющие поисковые запросы.\n3. Если данных мало — сужай и уточняй запросы.\n4. Если источники противоречат друг другу — выбирай более надежный источник и не выдавай спорный факт как бесспорный.\n5. Если источник вызывает сомнение — не добавляй его в `external_sources`.\n\n---\n\n### ТРЕБОВАНИЯ К ГЛУБИНЕ ДОСЬЕ\n\nСобери 5 больших смысловых блоков:\n\n1. Тренды\n2. Законы / регулирование\n3. Цены / экономика\n4. Боли / жалобы / риски / рекламации\n5. Экспертные мнения / прогноз\n\nДля каждого блока:\n- минимум 3-4 развернутых абзаца\n- высокая плотность фактов\n- минимум общих слов\n- максимум конкретики\n- никакой воды\n\n#### Блок 1. Тренды\nНужны:\n- реальные технологические изменения\n- реальные процессы\n- реальные инструменты / системы / подходы\n- реальные изменения в отрасли или рынке\n\n#### Блок 2. Законы / регулирование\nНужны:\n- реальные нормы\n- реальные постановления / акты / правила / требования\n- реальные штрафы и санкции, если они действительно подтверждаются\n- реальные даты, если подтверждаются\n\n#### Блок 3. Цены / экономика\nНужны:\n- структура стоимости\n- реальные диапазоны цен\n- составляющие сметы\n- влияние рынка, логистики, спроса, инфляции, кадров и т.д.\n\n#### Блок 4. Боли / жалобы / риски\nНужны:\n- реальные жалобы клиентов / пользователей / рынка\n- реальные типовые проблемы\n- реальные сценарии провала\n- реальные слабые места\n\n#### Блок 5. Экспертные выводы / прогноз\nНужны:\n- реальные экспертные мнения\n- реальные комментарии\n- осторожные выводы\n- никаких выдуманных прогнозов\n\n---\n\n### УНИВЕРСАЛЬНАЯ ИЕРАРХИЯ ИСТОЧНИКОВ\n\nТы должен выбирать не “самый известный сайт”, а самый надежный и уместный тип источника под конкретный факт.\n\n#### 1. Для законов, лицензий, штрафов, обязательных требований, нормативов\nПредпочтение:\n- официальные сайты госорганов\n- регуляторы\n- официальные публикации норм\n- официальные правовые базы\n- официальные судебные публикации\n\nЭто самый приоритетный тип источников для блока регулирования.\n\n#### 2. Для рыночных трендов, ценовой динамики, бизнес-изменений, отраслевых сдвигов\nПредпочтение:\n- крупные деловые СМИ\n- отраслевые аналитические публикации\n- официальная статистика\n- ассоциации\n- профильные исследования\n\nДля этих тезисов подходят:\n- деловые медиа\n- отраслевые обзоры\n- статистика\n- профессиональные объединения\n\n#### 3. Для технологий, процессов, оборудования, профессиональной практики\nПредпочтение:\n- профильные отраслевые источники\n- официальная документация\n- производители / поставщики / профессиональные организации\n- профессиональные экспертные материалы\n\nНо:\nесли источник коммерческий, не выдавай его как независимую рыночную аналитику.\nИспользуй его только для узкопрофессиональной информации, если она релевантна и выглядит достоверно.\n\n#### 4. Для болей, жалоб, рекламаций, конфликтов, типовых проблем\nПредпочтение:\n- форумы\n- отзывы\n- публичные обсуждения\n- кейсы\n- судебные решения\n- площадки с жалобами\n\nНо:\nтакие источники допустимы только для блока болей / жалоб / рисков.\nИх нельзя использовать как доказательство законов, ценовых трендов или нормативов.\n\n---\n\n### КРИТИЧЕСКОЕ ПРАВИЛО ПО ССЫЛКАМ\n\nПоле `external_sources` должно содержать только реально проверенные, релевантные и рабочие ссылки.\n\nПеред тем как добавить ссылку в `external_sources`, ты обязан убедиться, что:\n\n1. Ссылка ведет на конкретный материал, а не на:\n- главную страницу сайта\n- раздел новостей\n- поиск по сайту\n- общий каталог\n- архив без нужного содержания\n- пустую или служебную страницу\n\n2. Ссылка не должна быть:\n- 404\n- 410\n- пустой\n- битой\n- ведущей на нерелевантный материал\n\n3. Страница действительно содержит тот факт, который ты указываешь в `context`.\n\n4. Поле `context` должно описывать только тот факт, который реально подтверждается по этой странице.\n\n5. Если ты не уверен, что ссылка подтверждает `context`, не включай ее.\n\n6. Если надежных ссылок мало, лучше вернуть меньше ссылок, чем добивать список сомнительными страницами.\n\n---\n\n### ЗАПРЕЩЕНО ДЛЯ `external_sources`\n\nЗапрещено:\n- выдумывать URL\n- использовать “похожие” статьи\n- подставлять общую страницу вместо конкретного материала\n- подставлять ссылку только потому, что домен выглядит авторитетно\n- использовать нерелевантную страницу для подтверждения факта\n- выдавать коммерческий сайт за официальный источник\n- выдавать форум за доказательство закона\n- добивать список ссылок ради количества\n- подменять реальный факт пересказом того, чего на странице нет\n\n---\n\n### ПРАВИЛО КАЧЕСТВА ДЛЯ `external_sources`\n\nТебе не нужно любой ценой возвращать максимальное количество ссылок.\nЛучше:\n- 2-3 сильных, точных и реально проверенных источника\nчем\n- 5 слабых или сомнительных\n\nКачество важнее количества.\n\nЕсли надежно проверенных источников только 2 или 3 — верни только их.\n\n---\n\n### ТРЕБОВАНИЕ К РЕЕСТРУ ВНЕШНИХ ИСТОЧНИКОВ\n\nИспользуй только 2-5 реально проверенных внешних источников.\n\nДля каждого объекта в `external_sources`:\n- `url`: точная рабочая ссылка\n- `portal`: реальное название издания / портала / организации\n- `context`: краткий факт, который действительно подтверждается страницей\n\n#### Требования к `context`\n`context` должен быть:\n- коротким\n- конкретным\n- проверяемым\n- без домысливания\n- без преувеличений\n\nПример правильного `context`:\n- \"Подтверждает рост цен на услуги в 2025-2026 годах.\"\n- \"Разъясняет требования к маркировке и ответственности организаций.\"\n- \"Описывает изменения в структуре рынка и импортозамещении.\"\n\nПример неправильного `context`:\n- \"Доказывает, что рынок полностью изменился.\"\n- \"Подтверждает всю нашу стратегию.\"\n- \"Показывает, что это лучший вариант.\"\nЕсли на странице этого нет, так писать нельзя.\n\n---\n\n### ТРЕБОВАНИЯ К ТОЧНОСТИ\n\n- Не выдумывай цифры.\n- Не выдумывай штрафы.\n- Не выдумывай нормы и статьи.\n- Не выдумывай рыночные доли.\n- Не выдумывай оборудование и технологии.\n- Не выдумывай цитаты.\n- Не выдумывай экспертов.\n- Не выдумывай прогнозы.\n- Не выдумывай причинно-следственные связи, если они не подтверждены.\n\nЕсли факт правдоподобен, но не подтвержден надежно:\n- либо убери его\n- либо смягчи формулировку\n- либо не вноси его в `external_sources`\n\n---\n\n## ДОПОЛНИТЕЛЬНАЯ ИНСТРУКЦИЯ: ГЕНЕРАЦИЯ ТЕГОВ (WORDPRESS)\n\nНазначение тегов:\nслужебная внутренняя классификация контента.\nТеги не предназначены для SEO.\n\n### ОБЯЗАТЕЛЬНЫЕ ПРАВИЛА ДЛЯ ТЕГОВ\n\n1. Количество тегов:\n- от 3 до 7\n\n2. Формат каждого тега:\n- 2 слова\n- нижний регистр\n- через дефис\n\nПример:\n`слово-слово`\n\n3. Смысл:\nКаждый тег должен:\n- обозначать область знаний / тип задач\n- подходить минимум к 10-50 статьям\n- не быть слишком узким\n\n4. Запрещено:\n- годы\n- даты\n- номера законов\n- вопросы\n- глаголы\n- слишком узкие темы\n- дубли по смыслу\n\n5. Если тема слишком конкретная:\n- обязательно обобщай до категории\n\n### ПРАВИЛЬНЫЕ ПРИМЕРЫ ТЕГОВ (ЭТО ТОЛЬКО ОБРАЗЕЦ ФОРМАТА — теги генерируй СТРОГО по теме ИМЕННО ЭТОЙ статьи, НЕ копируй эти слова)\n\n- главное-направление\n- область-знаний\n- тип-задач\n\n### НЕПРАВИЛЬНЫЕ ПРИМЕРЫ\n\n- wildberries-2026\n- закон-289-фз\n- как-считать-прибыль\n- налоги-wb-2025\n- новые-комиссии\n\nКонтрольное правило:\nесли тег нельзя применить минимум к 10 разным статьям, он запрещен.\n\n---\n\n### ФОРМАТ ВЫДАЧИ\n\nВерни ответ строго в формате JSON.\n\nВнутри `dossier_text` используй двойные переносы строк `\\n\\n` для разделения блоков и логических частей.\n\nСтруктура ответа:\n\n{\n  \"dossier_text\": \"### 1. ТРЕНДЫ...\\\\n[Подробный текст]\\\\n\\\\n### 2. ЗАКОНОДАТЕЛЬСТВО...\\\\n[Подробный текст]...\",\n  \"external_sources\": [\n    {\n      \"url\": \"https://...\",\n      \"portal\": \"Название портала\",\n      \"context\": \"Краткий проверяемый факт\"\n    }\n  ],\n  \"tags\": [\"тег-один\", \"тег-два\", \"тег-три\"]\n}\n\n---\n\n### САМООТЧЕТ ПЕРЕД ОТВЕТОМ\n\nПеред тем как отдать JSON, молча проверь:\n\n1. Все ли ключевые блоки действительно относятся к теме?\n2. Есть ли в тексте конкретика, а не общие слова?\n3. Все ли ссылки в `external_sources` рабочие и ведут на конкретные материалы?\n4. Действительно ли каждая ссылка подтверждает свой `context`?\n5. Нет ли 404, главных страниц, разделов сайта, поисковых страниц и мусорных ссылок?\n6. Не выдал ли ты отраслевой коммерческий сайт за официальный источник?\n7. Не использовал ли ты слабый источник там, где нужен официальный?\n8. Не использовал ли ты форум / жалобу для подтверждения закона или нормативов?\n9. Не выдумал ли ты факты, цифры, экспертов, нормы или штрафы?\n10. Если надежных ссылок мало, не пытался ли ты добить список мусором?\n\nЕсли хотя бы в одном пункте есть сомнение, исправь ответ до отправки.\n\nВерни только JSON.\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [-1904, 368], "id": "98024374-a8f7-4380-962b-b44ccac4a991", "name": "Следователь темы", "retryOnFail": true, "waitBetweenTries": 3000, "alwaysOutputData": true}, {"parameters": {"model": "anthropic/claude-sonnet-4.5", "options": {"maxTokens": 8000}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [-992, 768], "id": "a0058e8c-de0d-4ce4-a999-078ca9912d92", "name": "OpenRouter Chat Model2", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "=### НОВАЯ ТЕМА СТАТЬИ:\n{{ $('When Executed by Another Workflow').first().json.контекст.задача['Главный ключ'] }}\n\n### ДОСЬЕ (ДЛЯ АНАЛИЗА РЕЛИВАНТНОСТИ):\n{{ $('Очистка досье').first().json.dossier_content }}\n\n### БАЗА ОПУБЛИКОВАННЫХ СТАТЕЙ:\n{{ JSON.stringify($('When Executed by Another Workflow').first().json.контекст.база_опубликовано) }}\n\n---\nИНСТРУКЦИЯ:\nПроанализируй Досье и Тему. Выбери из \"Базы опубликованных статей\" 3-5 материалов, которые максимально подходят для перелинковки. \nВерни строго JSON массив объектов: [{\"url\": \"...\", \"anchor\": \"...\", \"topic\": \"...\"}]", "options": {"systemMessage": "=### ROLE: SENIOR SEO LIBRARIAN (ENGINE)\nТы — эксперт по семантическим связям. Твоя задача — проанализировать тему новой статьи и выбрать из базы \"Опубликовано\" наиболее подходящие материалы для внутренней перелинковки.\n\n### ТВОЙ АЛГОРИТМ:\n1. Изучи Тему новой статьи и Досье фактов.\n2. Просмотри список уже опубликованных статей (JSON ниже).\n3. Выбери от 3 до 5 статей, которые:\n   - Логически дополняют новую тему.\n   - Раскрывают термины, упомянутые в Досье (например, если в Досье есть про налоги — выбери статью про налоги).\n4. Для каждой выбранной статьи выбери ОДИН лучший \"анкор\" (фразу для ссылки) из предложенного списка анкоров этой статьи.\n\n### ФОРМАТ ВЫДАЧИ (Strict JSON Only):\nВерни массив объектов. Никакого текста, только JSON.\n[\n  {\n    \"url\": \"ссылка из базы\",\n    \"anchor\": \"выбранный тобой анкор\",\n    \"topic\": \"заголовок статьи из базы\"\n  }\n]"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [-992, 608], "id": "fdf550b5-f6e7-4496-9864-0a7e2131887c", "name": "Библиотекарь"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "e805dffe-662c-496c-a585-97b72d859794", "leftValue": "={{\n  (\n    $('When Executed by Another Workflow').first().json?.контекст?.база_опубликовано ?? []\n  )\n  .filter(x => x && Object.keys(x).length > 0)\n  .length === 0\n}}", "rightValue": "", "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-1152, 464], "id": "7b0ee16f-a76c-4198-92fa-d7a12fd127be", "name": "Если ссылок пока нет"}, {"parameters": {"assignments": {"assignments": [{"id": "a90e9e6a-27f5-4b34-a92d-591bc0891916", "name": "output", "value": "Внутренних ссылок пока нет", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-944, 416], "id": "732a0b77-9f66-41f3-bad1-ec5f1bd714d8", "name": "Edit Fields"}, {"parameters": {"operation": "update", "documentId": {"__rl": true, "value": "__SHEET_ID__", "mode": "id"}, "sheetName": {"__rl": true, "value": "КОНВЕЙЕР", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"row_number": 2, "Статус": "Ошибка"}, "matchingColumns": ["row_number"], "schema": [{"id": "Главный ключ", "displayName": "Главный ключ", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Подсказка рубрики", "displayName": "Подсказка рубрики", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ID Оффера", "displayName": "ID Оффера", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Заметки", "displayName": "Заметки", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Статус", "displayName": "Статус", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Страна", "displayName": "Страна", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Город", "displayName": "Город", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true, "removed": false}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [384, 400], "id": "864b4f4f-97f4-4db2-a786-fb0fddc80326", "name": "ПРОМПТЫ1", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: Фильтр Офферов (ГЛАВНЫЙ + ПРОТИВОПОЛОЖНЫЕ)\n * Окружение: n8n Code node\n */\n\n// 1. Извлечение данных с защитой от пустых значений\nconst context = $input.item.json[\"контекст\"] || {};\nconst task = context[\"задача\"] || {};\nconst allOffers = context[\"база_офферов\"] || [];\n\n// 2. Конфигурация ключей (кириллица)\nconst KEYS = {\n    targetId: task[\"ID Оффера\"],\n    offerId: \"id\",\n    offerType: \"тип\",\n    types: {\n        soft: \"Soft\",\n        hard: \"Hard\"\n    }\n};\n\n/**\n * Основная логика фильтрации\n */\nfunction getFilteredOffers() {\n    // Поиск основного оффера (приведение к строке для сравнения цифр и текста)\n    const selectedOffer = allOffers.find(offer => \n        String(offer[KEYS.offerId]) === String(KEYS.targetId)\n    );\n\n    // Если главный оффер не найден, возвращаем базу как есть или пустую структуру\n    if (!selectedOffer) {\n        return {\n            выбранный_оффер: null,\n            доп_офферы: [],\n            статус: \"Ошибка: ID не найден\"\n        };\n    }\n\n    // Определяем тип-антагонист\n    const mainType = selectedOffer[KEYS.offerType];\n    const oppositeType = (mainType === KEYS.types.soft) ? KEYS.types.hard : KEYS.types.soft;\n\n    // Собираем альтернативные офферы только противоположного типа\n    const alternatives = allOffers.filter(offer => \n        offer[KEYS.offerType] === oppositeType\n    );\n\n    return {\n        выбранный_оффер: selectedOffer,\n        доп_офферы: alternatives,\n        статус: \"Успешно\"\n    };\n}\n\n// ВЫВОД\nreturn {\n    json: getFilteredOffers()\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2304, 368], "id": "e6ec6ec9-11d5-4f0e-8c71-6b44584fcdc6", "name": "Фильтр оферов"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "cf765800-2c73-441a-b65f-0ae6b5755986", "leftValue": "={{ $json.needs_retry }}", "rightValue": "", "operator": {"type": "boolean", "operation": "false", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-1424, 576], "id": "3bcc2c38-4ecd-4370-a8e0-546fd683cbf8", "name": "If2"}, {"parameters": {"model": "openai/gpt-5.4", "options": {"maxTokens": 8000, "temperature": 0.1}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [-480, 608], "id": "2d6a7716-f0fa-46d8-8083-e91a646e6d33", "name": "OpenRouter Chat Model3", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: Финальный выход ВФ 1\n * Собирает данные из Валидатора и оригинального контекста\n * и возвращает полный объект для ВФ 2 и ВФ 3\n */\n\n// Данные валидатора (план, dossier, tags и т.д.)\nlet validatorData = {};\ntry {\n  validatorData = $('Валидатор Плана').first().json || {};\n} catch(e) {\n  validatorData = $input.item.json || {};\n}\n\n// Оригинальный контекст из триггера\nlet triggerData = {};\ntry {\n  triggerData = $('When Executed by Another Workflow').first().json || {};\n} catch(e) {}\n\n// Собираем финальный объект\nconst output = {\n  ...validatorData,\n  // Гарантируем что контекст есть\n  контекст: validatorData.контекст || triggerData.контекст || {},\n  // Гарантируем languageCode\n  languageCode: validatorData.languageCode || triggerData.languageCode || 'ru'\n};\n\nreturn { json: output };"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [544, 400], "id": "4a903faa-cdef-48e7-bf0a-08f4eae3d01b", "name": "Stop"}, {"parameters": {"text": "=Сгенерируй 15-20 LSI-ключей (семантически связанных поисковых запросов) для темы: \"{{ $json.контекст.задача['Главный ключ'] }}\"\n\nСтрана: {{ $json.контекст.задача.Страна || 'Россия' }}\nГород: {{ $json.контекст.задача.Город || '' }}\n\nВерни ТОЛЬКО JSON-массив строк. Никакого текста кроме JSON.", "options": {"systemMessage": "Ты SEO-специалист. Генерируй LSI-ключи (семантически связанные поисковые запросы) для заданной темы. Возвращай только JSON-массив строк, без пояснений."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1, "position": [-1664, -272], "id": "e7e36b1d-5c40-4f01-a195-f9207d59c22b", "name": "Генератор LSI"}, {"parameters": {"jsCode": "const response = $input.first()?.json || {};\nconst content = typeof response.output === 'string' ? response.output : response.text || '';\n\n// Remove markdown fences if present\nconst cleaned = content.replace(/```json\\\\s*|```/gi, '').trim();\n\n// Try to parse JSON\nlet lsiArray = [];\ntry {\n    const parsed = JSON.parse(cleaned);\n    lsiArray = Array.isArray(parsed) ? parsed : [];\n} catch (e) {\n    // If parsing fails, treat as empty\n    lsiArray = [];\n}\n\n// Return in the same format the original node did\nreturn {\n    json: {\n        lsi_keywords: lsiArray,\n        languageCode: 'ru'\n    }\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1296, -224], "id": "96837a51-c708-42fa-a193-4429bff91feb", "name": "Парсинг LSI"}, {"parameters": {"model": "openai/gpt-4o-mini", "options": {}}, "id": "49be4a12-ca7a-42d7-a2ba-a96bb7e52975", "name": "OpenRouter Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "position": [-1696, -16], "typeVersion": 1, "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}], "connections" : {"When Executed by Another Workflow":{"main":[[{"node":"Генератор LSI","type":"main","index":0},{"node":"Фильтр оферов","type":"main","index":0},{"node":"Соединение данных","type":"main","index":1}]]},"Соединение данных":{"main":[[{"node":"АРХИТЕКТОР","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Следователь темы","type":"ai_languageModel","index":0}]]},"Perplexity Search":{"ai_tool":[[{"node":"Следователь темы","type":"ai_tool","index":0}]]},"Очистка досье":{"main":[[{"node":"If2","type":"main","index":0},{"node":"Соединение данных","type":"main","index":2}]]},"Валидатор Плана":{"main":[[{"node":"If","type":"main","index":0}]]},"АРХИТЕКТОР":{"main":[[{"node":"Валидатор Плана","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"АРХИТЕКТОР","type":"main","index":0}],[{"node":"ПРОМПТЫ1","type":"main","index":0}]]},"Следователь темы":{"main":[[{"node":"Очистка досье","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Библиотекарь","type":"ai_languageModel","index":0}]]},"Библиотекарь":{"main":[[{"node":"Соединение данных","type":"main","index":3}]]},"Если ссылок пока нет":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Библиотекарь","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Соединение данных","type":"main","index":3}]]},"Фильтр оферов":{"main":[[{"node":"Следователь темы","type":"main","index":0}]]},"If2":{"main":[[{"node":"Если ссылок пока нет","type":"main","index":0}],[{"node":"Следователь темы","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"АРХИТЕКТОР","type":"ai_languageModel","index":0}]]},"Генератор LSI":{"main":[[{"node":"Парсинг LSI","type":"main","index":0}]]},"Парсинг LSI":{"main":[[{"node":"Соединение данных","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Генератор LSI","type":"ai_languageModel","index":0}]]}}, "settings" : {"executionOrder":"v1"}, "active" : false, "staticData" : {"node:Очистка досье":{"failCount":0},"node:Валидатор Плана":{"archRetryCount":0}}, "pinData" : {}}, {"name" : "CyberSEO / ВФ 2: ЗАЦЕП (HOOK)", "nodes" : [{"parameters": {"inputSource": "passthrough"}, "id": "1dc8f290-f6a1-4f8d-bfc9-e0e2bc9dcb3f", "typeVersion": 1.1, "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.executeWorkflowTrigger", "position": [0, 0]}, {"parameters": {"promptType": "define", "text": "=### ЭКСПЕРТНАЯ УСТАНОВКА (КТО ТЫ):\n{{ $json.контекст.промпты.Писатель }}\n", "options": {"systemMessage": "=ROLE: LEAD JOURNALIST & SEO STRATEGIST (ENGINE)\nТы — технический модуль генерации. Твоя задача — собрать Первый экран статьи (Кирпич №1) в формате Clean HTML на языке: {{ $json.languageCode }}.\n🚨 ЖЕСТКИЕ ЛИМИТЫ (GUARDRAILS) — ЗА НАРУШЕНИЕ СБОЙ СИСТЕМЫ:\nH1 ЛИМИТ: Строго от 50 до 60 знаков с пробелами. Превышение 60 знаков — ЗАПРЕЩЕНО.\nINTRO ЛИМИТ: Считай слова. Минимум 40, максимум 60 слов. Если слов > 60 — сокращай без потери смысла.\nSLUG ЗАПРЕТ:\nНИКАКИХ ЦИФР. Удаляй \"2025\", \"2026\" и любые числа.\nНИКАКИХ ПРЕДЛОГОВ. Только значимые слова (nouns/verbs).\nДЛИНА: Строго 3-4 слова.\nMETA ЛИМИТ: Строго 140-150 знаков. Не пиши \"В этой статье...\", сразу давай пользу и ключевое слово.\nТЕХНИЧЕСКИЙ РЕГЛАМЕНТ (ИСПОЛНЯТЬ ПОШАГОВО):\nЯЗЫК: Только {{ $json.languageCode }}.\nH1: Сформулируй заголовок по формуле [Проблема] + [Решение] + [Цифра/Год]. Ключ {{ $json.контекст.задача['Главный ключ'] }} обязан быть в первых 3-х словах.\nВЫДАЧА: Только чистый текст без тегов.\nINTRO (html): Метод Answer-First.\nПервое предложение СТРОГО оберни в тег <strong>...</strong>. Это должен быть прямой, жирный ответ на интент пользователя.\nВесь текст вступления оберни в ОДИН тег <p>...</p>.\nНе используй вводные фразы \"Давайте разберемся\". Сразу суть.\nSUMMARY (html): Сформируй насыщенный блок \"Главное за 30 секунд\".\nВыбери от 3 до 5 значимых фактов из Досье.\nОформи строго в HTML-контейнер следующего вида:\ncode\nHtml\n<div class=\"stats-box\">\n  <ul>\n    <li><strong>Название факта:</strong> Значение (цифра/факт)</li>\n  </ul>\n</div>\nMETA DESCRIPTION: Краткое описание для Google — 1–2 ПОЛНЫХ предложения, суммарно НЕ БОЛЕЕ 150 символов. Ключевую фразу включи в первое предложение. БЕЗ призыва и CTA (не пиши \"Узнай подробности\", \"Читайте далее\", \"Переходите\"). Заверши мысль полностью — НИКОГДА не обрывай на полуслове. Если вторая фраза не помещается в лимит — оставь ОДНО полное предложение, а не два с обрывом.\nSLUG: Латиница. Пример: kak-vybrat-lokaciyu-pvz.\nДАННЫЕ ДЛЯ ОБРАБОТКИ:\nТема Архитектора: {{ $json.final_plan.blocks[0].h2_title }}\nИнструкция: {{ $json.final_plan.blocks[0].context }}\nДосье: {{ $json.dossier_content }}\nКлючи: {{ $json.final_plan.blocks[0].keywords }}\nВЫДАЧА (JSON ONLY):\n{\n\"h1\": \"...\",\n\"meta_description\": \"...\",\n\"intro_html\": \"...\",\n\"summary_html\": \"...\",\n\"slug\": \"...\"\n}\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [224, 0], "id": "fec2a603-7d86-4e9b-97ae-66470bc08b85", "name": "Агент Журналист"}, {"parameters": {"model": "google/gemini-3-flash-preview", "options": {"maxTokens": 8000, "temperature": 0.7}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [304, 224], "id": "2eeee3e7-e9dd-4444-a798-90072ff2fa80", "name": "OpenRouter Chat Model", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"model": "openai/gpt-5.4-mini", "options": {"maxTokens": 8000, "temperature": 0.7}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [656, 224], "id": "4bbb21aa-f4a6-48f4-8539-001f8562031c", "name": "OpenRouter Chat Model1", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "={{ $('When Executed by Another Workflow').first().json['контекст']['промпты']['Арт'] }}", "options": {"systemMessage": "=### РОЛЬ\nТы не чат-ассистент и не копирайтер. Ты служебный модуль преобразования данных внутри автоматического пайплайна.\nТвой ответ читает код. Любой текст вне JSON ломает процесс.\n\n### ГЛАВНОЕ ПРАВИЛО\nВерни строго ОДИН валидный JSON-объект.\nНикакого markdown.\nНикаких пояснений.\nНикаких префиксов, суффиксов, кавычек вокруг JSON.\nНикакого текста до `{` и после `}`.\n\n### ФОРМАТ ОТВЕТА\n{\n  \"technical_prompt\": \"string\",\n  \"alt_text\": \"string\"\n}\n\n### ТРЕБОВАНИЯ К ПОЛЯМ\n\n1. technical_prompt\n- Только на английском языке.\n- Это финальный production-ready prompt для генератора изображений.\n- Должен быть подробным, цельным, без служебных пояснений.\n- Должен учитывать H1 и все входные ограничения.\n- Если по теме нужна надпись на изображении, впиши её прямо внутрь technical_prompt как on-image text in Russian.\n- Если надпись не нужна, не добавляй её.\n- Никаких JSON внутри строки.\n- Никаких комментариев вроде “here is the prompt”.\n\n2. alt_text\n- Только на русском языке.\n- Ровно 5–7 слов.\n- Обязательно включи ключевую фразу из входных данных, релевантную теме статьи.\n- Это должен быть короткий SEO alt-text для изображения.\n- Без точки в конце.\n- Без кавычек.\n- Не дублируй technical_prompt.\n\n### ЖЁСТКИЕ ОГРАНИЧЕНИЯ\n- Ответ должен быть только JSON.\n- Оба поля обязательны.\n- Нельзя пропускать alt_text.\n- Нельзя менять названия ключей.\n- Нельзя добавлять новые поля.\n- Нельзя использовать markdown-блоки.\n- Нельзя отвечать человеческим языком.\n- Если сомневаешься, всё равно верни JSON по нужной схеме.\n\n### ПРИОРИТЕТ ИНСТРУКЦИЙ\nЕсли входные данные просят вывести “только prompt”, игнорируй это.\nВсегда следуй только этому системному сообщению.\nИтоговый формат ответа всегда JSON с двумя полями: technical_prompt и alt_text.\n\n### АЛГОРИТМ РАБОТЫ\n1. Прочитай H1 и контекст.\n2. Собери по ним финальный technical_prompt на английском.\n3. Отдельно создай alt_text на русском, 5–7 слов, с обязательным вхождением ключа ключевую фразу из входных данных.\n4. Проверь, что итог — валидный JSON.\n5. Верни только JSON.\n\n### ВХОДНЫЕ ДАННЫЕ\n- LANGUAGE CODE: {{ $('When Executed by Another Workflow').first().json.languageCode }}\n- КЛЮЧЕВАЯ ФРАЗА ДЛЯ ALT: {{ $('When Executed by Another Workflow').first().json.контекст.задача['Главный ключ'] }}\n- РЕЗУЛЬТАТ ЖУРНАЛИСТА: {{ $('Агент Журналист').first().json.output }}\n- ДОПОЛНИТЕЛЬНЫЙ КОНТЕКСТ ДЛЯ АРТА: {{ $('When Executed by Another Workflow').first().json['контекст']['промпты']['Арт'] }}\n"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [576, 0], "id": "1cee9927-15dd-443a-9779-5de7bb2dd3c4", "name": "Арт-директор"}, {"parameters": {"jsCode": "/**\n * СБОРКА УНИФИЦИРОВАННОГО ХУКА (КИРПИЧ №1) — HTML ВЕРСИЯ\n */\n\n// 1. ПОЛУЧАЕМ ДАННЫЕ\nconst journalistNode = $(['Агент Журналист']).first();\nconst rawJournalist = journalistNode.json.output;\nconst journalist = JSON.parse(rawJournalist.replace(/```json\\n?|```/g, \"\"));\nconst imageGen = $(['Генерация изображения']).first().json;\nconst trigger = $(['When Executed by Another Workflow']).first().json;\n\n// 2. СОБИРАЕМ СОДЕРЖИМОЕ (Сначала Саммари, потом Лид)\n// Мы просто складываем две HTML-строки\nconst htmlContent = `${journalist.summary_html}\\n\\n${journalist.intro_html}`;\n\n// 3. ФОРМИРУЕМ КИРПИЧ №1\nreturn {\n  json: {\n    id: 1,                 // Порядковый номер для Мастера\n    type: \"HOOK\",          // Тип блока\n    h1: journalist.h1,     // Чистый заголовок для <h1>\n    slug: journalist.slug,\n    meta_description: journalist.meta_description,\n    excerpt: journalist.meta_description,\n    \n    // Результат (Контент блока в чистом HTML)\n    result: htmlContent, \n    \n    // Медиа (Данные обложки для WordPress)\n    featured_image: {\n        url: imageGen.mediaUrl,\n        alt: imageGen.altText,\n        mediaId: imageGen.mediaId\n    },\n\n    // Мета-данные\n    metadata: {\n        brand: trigger.контекст.настройки.brand_name,\n        publish_date: new Date().toISOString()\n    }\n  }\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1376, 0], "id": "2e20a262-c69c-43f7-b650-0e3da8d29ad0", "name": "Сборка HOOK"}, {"parameters": {"jsCode": "return items.map(item => {\n  const raw = item.json?.output ?? '';\n  \n  // Пытаемся найти JSON регуляркой, если он зарыт в тексте\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  let parsed = null;\n  \n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0].replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\"));\n    } catch (e) {\n      parsed = null;\n    }\n  }\n\n  // ✅ ЕСЛИ УДАЛОСЬ ПАРСИТЬ\n  if (parsed) {\n    return {\n      json: {\n        technical_prompt: parsed.technical_prompt ?? \"Error: prompt missing\",\n        alt_text: parsed.alt_text ?? \"Изображение по теме статьи\" // Фоллбэк, если ключа нет\n      }\n    };\n  }\n\n  // ✅ ЕСЛИ ЭТО ПРОСТО ТЕКСТ (не JSON)\n  // Мы пытаемся хотя бы обрезать текст для промпта\n  return {\n    json: {\n      technical_prompt: raw.slice(0, 500), \n      alt_text: \"Изображение для \" + ($('When Executed by Another Workflow').first().json.контекст?.задача['Главный ключ'] || \"статьи\")\n    }\n  };\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [928, 0], "id": "62f2d982-e46d-4cdf-a890-fdd49e5bf417", "name": "Очистка ответа модели"}, {"parameters": {"workflowId": {"__rl": true, "value": "4Hh0youDcZ1DFdh1", "mode": "list", "cachedResultUrl": "/workflow/4Hh0youDcZ1DFdh1", "cachedResultName": "CyberSEO / ВФ 4: ГЕНЕРАЦИЯ ИЗОБРАЖЕНИЯ"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"prompt": "={{ $json.technical_prompt }}", "ref_url": "={{ $('When Executed by Another Workflow').first().json.контекст.настройки.img_url }}", "alt_text": "={{ $json.alt_text }}", "wp_url": "={{ $('When Executed by Another Workflow').first().json.контекст.настройки.wp_url || $('When Executed by Another Workflow').first().json.контекст.настройки.domen || 'https://__BLOG_DOMAIN__' }}"}, "matchingColumns": [], "schema": [{"id": "prompt", "displayName": "prompt", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}, {"id": "ref_url", "displayName": "ref_url", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}, {"id": "alt_text", "displayName": "alt_text", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}, {"id": "wp_url", "displayName": "wp_url", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {"waitForSubWorkflow": true}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [1184, 0], "id": "b4b2e040-cdbf-4ccc-b580-be78dffde0e2", "name": "Генерация изображения"}], "connections" : {"When Executed by Another Workflow":{"main":[[{"node":"Агент Журналист","type":"main","index":0}]]},"Агент Журналист":{"main":[[{"node":"Арт-директор","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Агент Журналист","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Арт-директор","type":"ai_languageModel","index":0}]]},"Арт-директор":{"main":[[{"node":"Очистка ответа модели","type":"main","index":0}]]},"Очистка ответа модели":{"main":[[{"node":"Генерация изображения","type":"main","index":0}]]},"Генерация изображения":{"main":[[{"node":"Сборка HOOK","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1"}, "active" : false, "staticData" : null, "pinData" : {}}, {"name" : "CyberSEO / ВФ 3: ТЕЛО", "nodes" : [{"parameters": {"inputSource": "passthrough"}, "id": "34ff1106-8706-4b82-921d-3b6f9c3c6aca", "typeVersion": 1.1, "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.executeWorkflowTrigger", "position": [-1072, 176]}, {"parameters": {"promptType": "define", "text": "=Проведи исследование для одного блока статьи.\n\nДАННЫЕ БЛОКА:\n- Block ID: {{ $json.block_id }}\n- Тип блока: {{ $json.type }}\n- Заголовок H2: {{ $json.h2 }}\n- Поисковый запрос: {{ $json.query }}\n- Контекст блока: {{ $json.context }}\n\nУЖЕ ИЗВЕСТНЫЕ ССЫЛКИ:\n- Внешний URL: {{ $json.external_url || 'null' }}\n- Внешний портал: {{ $json.external_portal || 'null' }}\n- Описание внешнего источника: {{ $json.external_description || 'null' }}\n- Внутренний URL: {{ $json.internal_url || 'null' }}\n- Внутренний анкор: {{ $json.internal_anchor || 'null' }}\n- Внутренняя тема: {{ $json.internal_topic || 'null' }}\n\nЗАДАЧА:\n1. Выполни поиск строго под этот блок.\n2. Используй `query` как основной поисковый запрос.\n3. Учитывай `h2` и `context`, чтобы понять, какой именно факт нужен.\n4. Если внешний URL уже передан, сначала проверь, подходит ли он именно для этого блока.\n5. Если текущий внешний URL реально релевантен и подтверждает тезис блока, сохрани его.\n6. Если текущий внешний URL слабый, нерелевантный, битый или не подтверждает тезис, найди более точный внешний источник.\n7. Если надежного внешнего источника нет, верни `external_linking: null`.\n8. Если внутренний URL уже есть, сохрани его без изменений.\n9. Если внутреннего URL нет, не выдумывай его, верни `internal_linking: null`.\n10. Сделай краткую, но плотную research-выжимку именно для этого блока.\n\nВерни строго JSON-объект в таком формате:\n\n{\n  \"block_id\": {{ $json.block_id }},\n  \"research_summary\": \"Краткая выжимка найденных фактов для этого блока.\",\n  \"external_linking\": {\n    \"url\": \"https://...\",\n    \"portal\": \"Название портала\",\n    \"description\": \"Какой факт подтверждает источник\"\n  },\n  \"internal_linking\": {\n    \"url\": \"https://...\",\n    \"anchor\": \"Анкор\",\n    \"topic\": \"Тема\"\n  }\n}\n\nВажно:\n- не меняй `block_id`\n- не возвращай markdown\n- не добавляй пояснений\n- верни только JSON\n", "options": {"systemMessage": "=### ROLE: PRECISION RESEARCH ENGINE\n\nТы — точный исследовательский модуль для одного конкретного блока статьи.\nТы работаешь только с одним блоком за раз.\nТвоя задача — найти и вернуть максимально релевантные, свежие и проверяемые данные именно для этого блока.\n\n### ГЛАВНАЯ ЦЕЛЬ\n\nТы должен:\n- использовать поисковый запрос пользователя\n- учитывать заголовок блока и его контекст\n- находить релевантные факты именно под этот блок\n- при наличии уже переданного URL не игнорировать его, а проверять, подходит ли он\n- сохранять хороший уже переданный источник, если он реально релевантен\n- заменять уже переданный источник только если он слабый, нерелевантный, битый или хуже найденной альтернативы\n\n### АЛГОРИТМ РАБОТЫ\n\n1. Используй `Perplexity Search` по переданному запросу.\n2. Сопоставь результаты поиска с:\n- темой блока\n- `h2`\n- `context`\n- уже переданными URL, если они есть\n3. Найди лучший подтверждающий источник именно для этого блока.\n4. Если уже переданный URL релевантен и подтверждает нужный тезис, сохрани его.\n5. Если уже переданный URL не подтверждает тезис, ведет на нерелевантный материал, на 404, на главную страницу или слабее найденной альтернативы, замени его.\n6. Не выдумывай URL.\n7. Не возвращай слабые или сомнительные источники ради заполнения поля.\n\n### БЮДЖЕТ ПОИСКА (СТРОГО)\n\nМаксимум 1 вызов `Perplexity Search` на блок. После него ОБЯЗАТЕЛЬНО верни JSON — даже если данные неполные. Не повторяй поиск ради «улучшения» результата. Не зацикливайся на вызовах инструмента.\n\n### КРИТИЧЕСКИЕ ПРАВИЛА ПО ССЫЛКАМ\n\nИсточник можно вернуть только если:\n- он рабочий\n- он ведет на конкретный материал\n- материал подтверждает нужный тезис блока\n- страница не является:\n  - главной страницей сайта\n  - разделом\n  - поисковой страницей\n  - каталогом\n  - нерелевантной новостью\n  - 404 / 410 / пустой страницей\n\nЕсли надежного источника нет, верни `external_linking: null`.\n\n### ПРАВИЛА ПО ВНУТРЕННИМ ССЫЛКАМ\n\n- Если внутренний URL уже передан, сохраняй его без изменений.\n- Не выдумывай новые внутренние ссылки.\n- Если внутренней ссылки нет, верни `internal_linking: null`.\n\n### ПРАВИЛА ПО ДАННЫМ\n\nИщи:\n- актуальные факты\n- конкретные цифры\n- реальные сроки\n- реальные стандарты\n- реальные рыночные изменения\n- реальные нормы и требования\n\nЕсли данных именно за 2026 год нет, используй самые свежие доступные данные конца 2026 года или наиболее свежие актуальные материалы.\n\n### ЗАПРЕЩЕНО\n\n- выдумывать факты\n- выдумывать URL\n- выдумывать цифры\n- выдумывать нормативы\n- выдумывать названия порталов\n- возвращать формально красивую, но нерелевантную ссылку\n- писать markdown\n- писать пояснения вне JSON\n- использовать ```json\n- возвращать текст вместо JSON\n\n### ФОРМАТ ОТВЕТА\n\nОтвет должен быть только JSON-объектом.\n\nСтрогий формат:\n\n{\n  \"block_id\": number,\n  \"research_summary\": \"Краткая, но плотная выжимка найденных фактов именно для этого блока.\",\n  \"external_linking\": {\n    \"url\": \"https://...\",\n    \"portal\": \"Название портала\",\n    \"description\": \"Какой именно факт подтверждает источник\"\n  },\n  \"internal_linking\": {\n    \"url\": \"https://...\",\n    \"anchor\": \"Анкор\",\n    \"topic\": \"Тема\"\n  }\n}\n\n### ПРАВИЛА ПОЛЕЙ\n\n- `block_id` должен совпадать с переданным пользователем ID блока\n- `research_summary` обязателен\n- `external_linking`:\n  - либо объект\n  - либо `null`\n- `internal_linking`:\n  - либо объект\n  - либо `null`\n\nЕсли надежного внешнего источника нет:\n- `\"external_linking\": null`\n\nЕсли внутренней ссылки нет:\n- `\"internal_linking\": null`\n\n### ФИНАЛЬНОЕ ПРАВИЛО\n\nВерни только JSON-объект.\nНикакого текста до него.\nНикакого текста после него.\n", "maxIterations": 25}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [-672, 176], "id": "bf08ee62-21bf-4042-8c3b-0f05afead67d", "name": "Агент Исследователь", "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"model": "sonar-pro", "messages": {"message": [{"content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]}, "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}", "options": {"temperature": 0.1}, "requestOptions": {}}, "type": "n8n-nodes-base.perplexityTool", "typeVersion": 1, "position": [-528, 384], "id": "f09773b0-cba1-4a85-be1f-f23f94cb1e62", "name": "Perplexity Search", "credentials": {"perplexityApi": {"id": "Y3F8AjPZ2HXRzYbv", "name": "Perplexity account"}}}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"leftValue": "={{ $json.type }}", "rightValue": "IMG", "operator": {"type": "string", "operation": "equals"}, "id": "1d7381bf-19e2-4cd5-b737-97955ec3597f"}], "combinator": "and"}, "renameOutput": true, "outputKey": "IMG"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "c674452e-6b2b-4f5f-b62e-ee66a0cb2d70", "leftValue": "={{ $json.type }}", "rightValue": "TEXT|RESEARCH|QUOTE", "operator": {"type": "string", "operation": "regex"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "TEXT|RESEARCH|QUOTE"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "5bcf8f2e-8029-411e-8015-d28559ae856b", "leftValue": "={{ $json.type }}", "rightValue": "TABLE|STEPS|SOFT_OFFER|HARD_OFFER|VIDEO", "operator": {"type": "string", "operation": "regex"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "TABLE|STEPS|SOFT_OFFER"}]}, "options": {}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [-224, 160], "id": "77178246-7763-469d-952a-d86f5ed791e7", "name": "Switch"}, {"parameters": {"model": "anthropic/claude-sonnet-4.5", "options": {"maxTokens": 8000, "temperature": 0.1}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [-48, 0], "id": "6a6e463d-2e0b-4dec-897c-1fa88e1d4701", "name": "OpenRouter Chat Model1", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "=### ГЛАВНЫЙ КЛЮЧ СТАТЬИ (SEO):\n{{ $('When Executed by Another Workflow').first().json.контекст.задача['Главный ключ'] }}\n\n### ВИЗУАЛЬНЫЙ ГАЙД БРЕНДА (ЭСТЕТИКА):\n{{ $('When Executed by Another Workflow').first().json['контекст']['промпты']['Арт'] }}\n\n---\n### ЗАДАЧА:\nСоздай промпт для иллюстрации ИМЕННО этого блока, строго соблюдая эстетику бренда.\n- Что показать на картинке: {{ $json.context }}\n- Ключевые темы блока: {{ $json.keywords }}\nКартинка должна отражать смысл именно этого блока и заметно отличаться от иллюстраций других блоков статьи. Сформулируй смысловой SEO-альт (5–7 слов), релевантный именно этой картинке и её теме.", "options": {"systemMessage": "==### ROLE: PROMPT ENGINEER & SEO SPECIALIST (ENGINE)\nТы — эксперт по визуальному маркетингу. Твоя задача — создать ТЗ для нейросети и идеальный Alt-текст.\n\n### ТЕХНИЧЕСКИЙ РЕГЛАМЕНТ (ЖЁСТКО):\n\n1. **TECHNICAL PROMPT (English):** \n   - Напиши детальное описание на английском. \n   - Сюжет: {{ $json.context }}. Картинка иллюстрирует ИМЕННО главу «{{ $json.chapter_title }}» (раздел, куда вставлена), по её теме, а не по общей теме статьи.\n   - Если есть ссылка на референс, добавь: \"Maintain character identity and high-end commercial style from the reference\".\n   - Сцена должна ВИЗУАЛЬНО отличаться от других картинок статьи: свой ракурс, объект и действие, не повтор той же композиции.\n   - Надпись на картинке (on-image text): 2–3 слова, выведи их из keywords ИМЕННО этого блока ({{ $json.keywords }}); она ОБЯЗАНА отличаться от надписей на других картинках статьи — НЕ повторяй общую тему статьи.\n   - Держи эстетику бренда из ВИЗУАЛЬНОГО ГАЙДА (flat vector), без фотореализма.\n\n2. **ALT TEXT (краткая выжимка по теме главы):**\n   - Язык: {{ $('When Executed by Another Workflow').first().json.languageCode }}.\n   - Это КОРОТКАЯ подпись-выжимка: 3–5 слов по теме главы «{{ $json.chapter_title }}» (раздел, куда вставлена картинка). Опирайся на суть этой главы и keywords блока ({{ $json.keywords }}).\n   - НЕ описывай сцену целиком и НЕ бери общую тему статьи — только краткая суть ИМЕННО этой главы.\n   - Alt ОБЯЗАН отличаться от alt других картинок статьи.\n   - ЗАПРЕЩЕНО: \"фото\", \"картинка\", \"изображение\".\n   - ПРИМЕР (глава про аналитику): \"Сквозная аналитика лидов ВК\".\n\n3. **JSON ONLY:** \nВерни строго JSON объект без лишних слов: \n{ \"technical_prompt\": \"...\", \"alt_text\": \"...\" }\n\n### ВХОДНЫЕ ДАННЫЕ ДЛЯ КОНТЕКСТА:\n- Глава (раздел), куда вставлена картинка: {{ $json.chapter_title }}\n- Описание сцены: {{ $json.context }}"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [-48, -256], "id": "22b2060e-ba35-48ad-882a-f61b3972db15", "name": "Арт-директор", "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"model": "anthropic/claude-sonnet-4.5", "options": {"maxTokens": 8000, "temperature": 0.1}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [0, 368], "id": "b950e727-7e83-4d65-a71b-7f1c8b5078e0", "name": "OpenRouter Chat Model2", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "=\n### ТВОЯ ЗАДАЧА:\n- **Заголовок (H2):** {{ $json.h2_title }}\n- **Контекст задачи:** {{ $json.context }}\n- **Ключевые слова:** {{ $json.keywords.join(', ') }}\n- **Факты (Data):** {{ $json.research_data.includes('NO_DATA') ? '' : $json.research_data }}\n\n### ИНСТРУКЦИЯ ПО ССЫЛКЕ:\n{{ $json.internal_linking ? `ВСТАВЬ ССЫЛКУ: URL: ${$json.internal_linking.url}, Анкор: ${$json.internal_linking.anchor}` : \"Внутренних ссылок для этого блока нет.\" }}\n\n### ЭКСПЕРТНАЯ РОЛЬ:\n{{ $('When Executed by Another Workflow').first().json['контекст']['промпты']['Писатель'] }}\n\n### ИНСТРУКЦИЯ ПО ССЫЛКЕ:\nВнтуриние:\n{{ $json.internal_linking ? `ВСТАВЬ ССЫЛКУ: URL: ${$json.internal_linking.url}, Анкор: ${$json.internal_linking.anchor}` : \"Внутренних ссылок для этого блока нет.\" }}\nВнешние:\n{{ $json.external_linking ? `ВСТАВЬ ССЫЛКУ: URL: ${$json.external_linking.url}, Описание: ${$json.external_linking.description}, Портал: ${$json.external_linking.portal}` : \"Внещних ссылок для этого блока нет.\" }}", "options": {"systemMessage": "=### ROLE: SENIOR CONTENT PRODUCER (ENGINE)\nТы — технический модуль генерации экспертного контента. Твоя задача — написать черновик блока статьи в формате Clean HTML на языке: {{ $('When Executed by Another Workflow').first().json.languageCode }}.\n\n### ТЕХНИЧЕСКИЙ РЕГЛАМЕНТ (ЖЁСТКО):\n1. **ЯЗЫК:** Только {{ $('When Executed by Another Workflow').first().json.languageCode }}\n2. **ФОРМАТ:** Используй только HTML-теги (<p>, <strong>, <ul>, <li>). \n   - ⛔️ ЗАПРЕТ: Не используй Markdown (#, **, [ ]).\n   - ⛔️ ЗАПРЕТ: Не пиши заголовки (H1-H6). Начинай сразу с текста.\n3. **Answer First:** Первый абзац должен содержать прямой ответ на вопрос темы. Первое предложение СТРОГО оберни в <strong>...</strong>.\n4. **Факты:** Интегрируй все данные из поля \"facts\". Если оно пустое — используй свои знания.\n5. **SEO:** Органично вплети ключи: {{ $json.keywords.join(', ') }}.\n6. **Объем:** 3-4 плотных абзаца, каждый обернут в <p>...</p>.\n\n### ПРАВИЛА РАБОТЫ СО ССЫЛКАМИ:\nТы можешь получить два типа ссылок. Вставляй их органично:\n\n1. **ВНУТРЕННИЕ (internal_linking):** \n   - Если есть URL и Анкор — вставь их ровно так, как указано.\n2. **ВНЕШНИЕ (external_linking):**\n   - Если есть URL, Portal и Description — вставь ссылку в текст.\n   - **Как обыграть:** Используй фразу типа \"Согласно данным портала [Portal]...\" или \"Как отмечают эксперты [Portal], [Description]...\". \n   - Ссылку `<a href=\"URL\" target=\"_blank\">` вешай либо на название портала, либо на ключевой факт из описания.\n\nВАЖНО: Если в одном блоке оказались оба типа ссылок — разведи их по разным абзацам, чтобы текст не выглядел перегруженным.\n\n\n### ВЫДАЧА:\nВерни только чистый HTML-код блока без вводных фраз (\"Вот ваш черновик\")."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [0, 176], "id": "2a50e3f0-d4a8-4745-8ab5-ff45759a653b", "name": "Агент Писатель", "executeOnce": false, "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"model": "anthropic/claude-sonnet-4.5", "options": {"maxTokens": 8000, "temperature": 0.7}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [336, 336], "id": "63025efc-e402-46e0-bb04-a743f66b9779", "name": "OpenRouter Chat Model3", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"promptType": "define", "text": "=\n### ТЕКСТ ДЛЯ РЕРАЙТА:\n{{ $node[\"Агент Писатель\"].json.output }}", "options": {"systemMessage": "=### ROLE: PROFESSIONAL GONZO JOURNALIST & SENIOR EDITOR\nТвоя задача — переписать черновик, сделав его максимально живым, экспертным и \"человечным\". Ты работаешь с форматом Clean HTML.\n\n### ПРАВИЛА ЧЕЛОВЕЧНОСТИ (BURSTINESS):\n1. **Ритм:** Смешивай длинные, глубокие предложения с очень короткими, \"стреляющими\" фразами (2-4 слова).\n2. **Живой язык:** Добавь риторические вопросы, уместную иронию или жесткие экспертные акценты.\n3. **Удали \"запах ИИ\":** СТРОГО ЗАПРЕЩЕНО использовать: \"является\", \"данный\", \"в современном мире\", \"стоит отметить\", \"важно понимать\".\n\n### ТЕХНИЧЕСКИЙ РЕГЛАМЕНТ (ЖЁСТКО):\n1. **Сохранение тегов:** Ты ОБЯЗАН сохранить HTML-структуру оригинала (<p>, <strong>, <ul>, <li>).\n2. **Answer First:** Сохрани первое предложение в тегах <strong>...</strong>, но перепиши его так, чтобы оно било в самую суть.\n3. **Запрет на заголовки:** НЕ добавляй H1-H6. Начинай сразу с текста.\n4. **Запрет на Markdown:** Не используй символы # или **. Только чистый HTML.\n\n### ВЫДАЧА:\nВерни только готовый HTML-код блока. Без комментариев и лишнего мусора."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [320, 176], "id": "6664ee97-715c-4731-81d4-f02a85391633", "name": "Гонзо-Журналист", "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"model": "google/gemini-3-flash-preview", "options": {"maxTokens": 8000, "temperature": 0.1}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [16, 752], "id": "786ba426-c087-4590-b874-14a91de28919", "name": "OpenRouter Chat Model4", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"numberInputs": 3}, "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [800, 160], "id": "31d0b5bb-20ad-4d3b-8b14-7ba1b028b57d", "name": "Merge"}, {"parameters": {"workflowId": {"__rl": true, "value": "4Hh0youDcZ1DFdh1", "mode": "list", "cachedResultUrl": "/workflow/4Hh0youDcZ1DFdh1", "cachedResultName": "CyberSEO / ВФ 4: ГЕНЕРАЦИЯ ИЗОБРАЖЕНИЯ"}, "workflowInputs": {"mappingMode": "defineBelow", "value": {"prompt": "={{ JSON.parse($json.output.replace(/```json\\n?|```/g, \"\")).technical_prompt }}", "ref_url": "={{ $('When Executed by Another Workflow').first().json.контекст.настройки.img_url }}", "alt_text": "={{ JSON.parse($json.output.replace(/```json\\n?|```/g, \"\")).alt_text }}", "wp_url": "={{ $('When Executed by Another Workflow').first().json.контекст.настройки.wp_url || $('When Executed by Another Workflow').first().json.контекст.настройки.domen || 'https://__BLOG_DOMAIN__' }}"}, "matchingColumns": [], "schema": [{"id": "prompt", "displayName": "prompt", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}, {"id": "ref_url", "displayName": "ref_url", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}, {"id": "alt_text", "displayName": "alt_text", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}, {"id": "wp_url", "displayName": "wp_url", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string"}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {"waitForSubWorkflow": true}}, "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [288, -256], "id": "cad2e476-b532-4cd5-9a10-d751cea73747", "name": "Генерация изображения"}, {"parameters": {"jsCode": "const results = $input.all();\nconst sourcePlan = $(['Обогатитель данных']).all();\n\n// УСТАНОВКА ФИЛЬТРА:\nconst currentTypes = ['TEXT', 'RESEARCH', 'QUOTE']; \nconst filteredSource = sourcePlan.filter(item => currentTypes.includes(item.json.type));\n\nreturn results.map((item, index) => {\n    const original = filteredSource[index] ? filteredSource[index].json : null;\n    let content = (item.json.output || item.json.final_html || \"\").trim();\n\n    /**\n     * САНИТАЙЗЕР (V.3.0):\n     */\n\n    // 1. Убираем обертки Markdown Code Blocks (```html ... ``` или просто ``` ... ```)\n    // Регулярное выражение ищет открывающие кавычки с опциональным словом html и закрывающие кавычки.\n    content = content.replace(/```(?:html|HTML)?([\\s\\S]*?)```/g, '$1').trim();\n\n    // 2. Убираем возможные артефакты, если слово \"html\" осталось в начале строки после очистки кавычек\n    if (content.toLowerCase().startsWith('html')) {\n        content = content.replace(/^html\\s+/i, '').trim();\n    }\n\n    // 3. Убираем Markdown-заголовки (# Заголовок), если они просочились\n    while (content.startsWith('#')) {\n        let lines = content.split('\\n');\n        lines.shift(); // Удаляем первую строку с решетками\n        content = lines.join('\\n').trim();\n    }\n\n    return {\n        json: {\n            id: original ? original.id : null,\n            type: original ? original.type : null,\n            h2_title: original ? original.h2_title : null,\n            result: content // Чистый HTML без кавычек и лишних тегов\n        }\n    };\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [608, 176], "id": "8ae09eb6-1859-4f00-a42d-8b92d734aa94", "name": "Обертка ТЕКСТ", "executeOnce": true}, {"parameters": {"jsCode": "/**\n * ОПИСАНИЕ УЗЛА: \"Обертка IMG (Финальная версия)\"\n * \n * ЧТО ДЕЛАЕТ:\n * 1. Сопоставляет 3 результата генерации изображений с их исходными ID из плана.\n * 2. Разделяет мета-данные: длинный SEO-текст уходит в невидимый атрибут 'alt', \n *    а короткий заголовок раздела (h2_title) становится видимой подписью под фото.\n * 3. Формирует адаптивный HTML-код блока с центрированием и ограничением ширины.\n * \n * ЗАЧЕМ ЭТО НУЖНО:\n * Чтобы фотографии в статье выглядели аккуратно, не дублировали текст подписи \n * и корректно индексировались поисковиками.\n */\n\nconst results = $input.all();\nconst allSourceItems = $(['Switch']).all();\n\n// Фильтруем только блоки с типом IMG из начала воркфлоу\nconst imgSourceBlocks = allSourceItems.filter(item => item.json.type === 'IMG');\n\nreturn results.map((item, index) => {\n    const src = imgSourceBlocks[index];\n    if (!src) return null; // нет парного IMG-блока — пропускаем, не падаем\n    const original = src.json;\n    \n    // В качестве подписи (видимой) используем название раздела\n    // Если названия нет - ставим нейтральную фразу\n    const captionText = original.h2_title || \"Иллюстрация к материалу\";\n\n    // Собираем HTML-контейнер\n    const htmlImage = `\n<figure class=\"wp-block-image aligncenter size-large\" style=\"margin: 24px auto; text-align: center;\">\n  <img \n    src=\"${item.json.mediaUrl}\" \n    alt=\"${item.json.altText}\" \n    class=\"wp-image-${item.json.mediaId}\" \n    style=\"width: 100%; max-width: 800px; height: auto; border-radius: 12px; display: block; margin: 0 auto; box-shadow: 0 4px 15px rgba(0,0,0,0.1);\"\n    loading=\"lazy\"\n  />\n  <figcaption style=\"font-size: 14px; color: #777; margin-top: 10px; font-style: italic; line-height: 1.4;\">\n    ${captionText}\n  </figcaption>\n</figure>`.trim();\n\n    return {\n        json: {\n            id: original.id,\n            type: original.type,\n            h2_title: original.h2_title,\n            result: htmlImage // Чистый HTML-кусок для сборки\n        }\n    };\n}).filter(Boolean);"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [512, -256], "id": "805a2fcf-e528-4560-bbf0-b6281f2f0ec6", "name": "Обертка IMG", "executeOnce": false}, {"parameters": {"aggregate": "aggregateAllItemData", "destinationFieldName": "parts", "options": {}}, "type": "n8n-nodes-base.aggregate", "typeVersion": 1, "position": [944, 176], "id": "920ea096-6cc0-4edd-9fda-2abfa799c106", "name": "Aggregate"}, {"parameters": {"jsCode": "/**\n * ОПИСАНИЕ УЗЛА: \"Финальная сортировка\"\n * \n * ЧТО ДЕЛАЕТ:\n * 1. Собирает все части (parts) из агрегатора.\n * 2. Сортирует их по ID (от 2 до 16).\n * 3. Для каждого блока определяет уровень заголовка (H2 или H3).\n * 4. Возвращает МАССИВ готовых кирпичей.\n */\n\nconst input = $json.parts;\n\n// 1. Сортируем по ID\ninput.sort((a, b) => a.id - b.id);\n\n// 2. Добавляем мета-данные верстки к каждому блоку\nconst bricks = input.map(block => {\n  // Определяем тег заголовка\n  let headerTag = 'h2';\n  if (['TABLE', 'STEPS', 'SOFT_OFFER'].includes(block.type)) {\n    headerTag = 'h3';\n  }\n  if (block.type === 'IMG') {\n    headerTag = null; // У картинок заголовка нет\n  }\n\n  return {\n    id: block.id,\n    type: block.type,\n    title: block.h2_title,\n    header_tag: headerTag,\n    content: block.result // Здесь либо текст, либо объект картинки\n  };\n});\n\n// 3. Возвращаем один итем, содержащий массив всех блоков\nreturn [\n  {\n    json: {\n      blocks: bricks\n    }\n  }\n];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 176], "id": "91610390-302d-4128-8458-57b6b8105c74", "name": "Финальная сортировка", "executeOnce": true}, {"parameters": {"promptType": "define", "text": "=### ТВОЯ ЗАДАЧА:\n{{ JSON.stringify($json) }}\n- **Данные (Facts):** {{ $json.research_data.includes('NO_DATA') ? '' : $json.research_data }}\n\n### ЭКСПЕРТНАЯ РОЛЬ:\n{{ $('When Executed by Another Workflow').first().json['контекст']['промпты']['Писатель'] }}\n\n### ИНСТРУКЦИЯ ПО ССЫЛКЕ:\nВнтуриние:\n{{ $json.internal_linking ? `ВСТАВЬ ССЫЛКУ: URL: ${$json.internal_linking.url}, Анкор: ${$json.internal_linking.anchor}` : \"Внутренних ссылок для этого блока нет.\" }}\nВнешние:\n{{ $json.external_linking ? `ВСТАВЬ ССЫЛКУ: URL: ${$json.external_linking.url}, Описание: ${$json.external_linking.description}, Портал: ${$json.external_linking.portal}` : \"Внещних ссылок для этого блока нет.\" }}\n", "options": {"systemMessage": "==### ROLE: TECHNICAL WRITER & DATA VISUALIZER (ENGINE)\nТы — технический модуль верстки внутри автоматического пайплайна. Твоя задача — оформить данные блока в профессиональный HTML-код на языке: {{ $('When Executed by Another Workflow').first().json.languageCode }}.\n\nТвой ответ читает следующий узел. Любое отклонение от формата ломает пайплайн.\n\n### ГЛАВНОЕ ПРАВИЛО\nВерни только чистый HTML-код блока.\nБез комментариев.\nБез пояснений.\nБез markdown.\nБез code fences.\nБез префиксов и суффиксов.\nБез заголовков H1-H6, если это не требуется шаблоном ниже.\n\n### ЖЕСТКИЕ ОБЩИЕ ПРАВИЛА\n1. Используй только HTML-теги.\n2. Символы markdown запрещены: #, **, ```, :::.\n3. Не добавляй объясняющий текст вроде «Вот HTML блока».\n4. Не меняй смысл блока.\n5. Не выдумывай данные, факты, ссылки, цены, характеристики, названия компаний, выгоды и офферы.\n6. Если данные неполные, работай только с тем, что пришло во входе.\n7. Не вставляй заголовок раздела как <h2> или <h3> в обычных блоках: его добавит сборщик позже.\n8. Все внутренние ссылки вставляй без target=\"_blank\".\n9. Все внешние ссылки вставляй с target=\"_blank\" и rel=\"nofollow noopener\".\n\n### ВХОДНЫЕ ДАННЫЕ\n- Полный JSON блока: {{ JSON.stringify($json) }}\n- Данные исследования: {{ $json.research_data.includes('NO_DATA') ? '' : $json.research_data }}\n- Экспертная роль: {{ $('When Executed by Another Workflow').first().json['контекст']['промпты']['Писатель'] }}\n\n### ДАННЫЕ ПО ССЫЛКАМ\nВнутренние:\n{{ $json.internal_linking ? `URL: ${$json.internal_linking.url}, Анкор: ${$json.internal_linking.anchor}, Тема: ${$json.internal_linking.topic}` : \"Внутренних ссылок для этого блока нет.\" }}\n\nВнешние:\n{{ $json.external_linking ? `URL: ${$json.external_linking.url}, Описание: ${$json.external_linking.description}, Портал: ${$json.external_linking.portal}` : \"Внешних ссылок для этого блока нет.\" }}\n\n### ПРАВИЛА ПО ТИПАМ БЛОКОВ\n\n#### 1. TABLE\nЕсли тип блока TABLE:\n- Перед таблицей добавь короткий поясняющий абзац в <p>.\n- Используй строго таблицу в HTML.\n- Структура: <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; line-height: 1.5;\">\n- Шапка: <tr style=\"background-color: #f3f4f6; color: #111827;\">\n- Все th и td: style=\"padding: 12px 15px; border: 1px solid #d1d5db; text-align: center;\"\n- Для числовых ячеек во втором столбце обязательно: white-space: nowrap;\n- Заголовки столбцов выделяй через <strong>.\n- Если есть внешний источник, после таблицы добавь примечание: <p style=\"font-size: 14px; color: #666;\">Источник данных: <a href=\"URL\" target=\"_blank\" rel=\"nofollow noopener\" title=\"Читать на [Portal]: [Description]\">Portal — Description</a></p>\n\n#### 2. STEPS\nЕсли тип блока STEPS:\n- Оформи блок как <ol>.\n- Каждый <li> начинай с <strong>Глагола действия</strong>.\n- Перед списком можно добавить короткий вводный абзац в <p>.\n\n#### 3. TEXT / RESEARCH / QUOTE\nЕсли тип блока текстовый:\n- Верни чистый HTML-контент блока.\n- Используй только <p>, <strong>, <ul>, <li> если нужно.\n- Не добавляй заголовок блока.\n- Если есть внутренние или внешние ссылки, встраивай их органично в текст.\n\n#### 4. SOFT_OFFER\nЕсли тип блока SOFT_OFFER:\n- Оформи строго в таком контейнере:\n  <div class=\"ad-box\" style=\"padding: 20px; border-left: 4px solid #7a00ff; background: #f9f9f9; margin: 25px 0; text-align: left;\">\n    <p><strong>[Текст подводки]</strong></p>\n    <p><a href=\"[Ссылка]\" target=\"_blank\" rel=\"nofollow noopener\" style=\"color: #7a00ff; text-decoration: underline;\">[Название оффера] — Перейти →</a></p>\n  </div>\n- Не меняй базовую структуру блока.\n- Не добавляй лишние кнопки, карточки, рамки, иконки или декоративные элементы.\n\n#### 5. HARD_OFFER\nЕсли тип блока HARD_OFFER:\nТы ОБЯЗАН вернуть блок строго в фиксированном шаблоне ниже.\nЗапрещено менять:\n- фон\n- цвет текста\n- цвет кнопки\n- border-radius\n- отступы\n- структуру HTML\n- класс блока\n- тег кнопки\n- общую композицию\n\n##### ЭТАЛОННЫЙ ШАБЛОН HARD_OFFER\nИспользуй строго этот шаблон:\n<div class=\"hard-cta-box\" style=\"background: #111827; color: #fff; padding: 30px; border-radius: 20px; text-align: center; margin: 40px 0;\">\n  <h3 style=\"color: #fff; margin-top: 0;\">[Заголовок оффера]</h3>\n  <p style=\"font-size: 17px; opacity: 0.9;\">[Описание выгоды]</p>\n  <a href=\"[Ссылка из базы]\" class=\"btn-primary\" target=\"_blank\" rel=\"nofollow noopener\" style=\"display: inline-block; background: #7a00ff; color: #fff; padding: 15px 30px; border-radius: 10px; font-weight: bold; text-decoration: none; margin-top: 10px;\">[Текст кнопки] →</a>\n</div>\n\n##### КРИТИЧЕСКИЕ ПРАВИЛА ДЛЯ HARD_OFFER\n1. Фон блока всегда только #111827.\n2. Цвет текста заголовка всегда только #fff.\n3. Цвет основного текста всегда белый через текущий стиль блока.\n4. Кнопка всегда с фоном #7a00ff.\n5. Нельзя делать светлый фон, голубой фон, белую карточку, серую карточку или рамочную карточку.\n6. Нельзя добавлять !important.\n7. Нельзя менять hard-cta-box на другой класс.\n8. Нельзя превращать кнопку в обычную ссылку-строку.\n9. Нельзя добавлять рамку, если ее нет в эталоне.\n10. Если тебе хочется улучшить дизайн, игнорируй это и все равно верни шаблон строго как задано.\n11. Если данные оффера неполные, все равно сохраняй шаблон и подставляй максимально близкие данные из входного блока.\n12. Если есть full_offer, используй в первую очередь название оффера, ссылку оффера и контекст/выгоду оффера.\n13. Если в context есть продающий угол, можешь использовать его как текст выгоды, но только внутри фиксированного шаблона.\n14. HARD_OFFER всегда должен выглядеть как темная финальная CTA-плашка. Это обязательное правило визуального контракта.\n\n### ПРАВИЛА РАБОТЫ СО ССЫЛКАМИ\n#### Внутренние ссылки\n- Используй строго переданный anchor и url.\n- Не переписывай URL.\n- Не меняй анкор.\n- Не добавляй target=\"_blank\".\n\n#### Внешние ссылки\n- Используй строго переданный url.\n- Упоминай portal и description, если это уместно.\n- Для внешних ссылок всегда: target=\"_blank\" и rel=\"nofollow noopener\".\n\n### ЗАПРЕЩЕНО\n- Писать markdown\n- Писать JSON\n- Писать комментарии\n- Писать «ниже блок»\n- Добавлять заголовки H1-H6 вне жестко заданного шаблона\n- Самовольно менять дизайн HARD_OFFER\n- Делать светлый HARD_OFFER\n- Выдумывать CTA, если он полностью расходится со смыслом оффера\n- Подменять ссылку оффера другой ссылкой\n\n### ФИНАЛЬНАЯ ПРОВЕРКА ПЕРЕД ОТВЕТОМ\nПеред отправкой молча проверь:\n1. Ответ состоит только из HTML.\n2. Нет markdown.\n3. Нет пояснений.\n4. Если тип HARD_OFFER, фон строго #111827.\n5. Если тип HARD_OFFER, кнопка строго #7a00ff.\n6. Если тип HARD_OFFER, структура строго соответствует шаблону.\n7. Все ссылки корректны по типу: внутренние без _blank, внешние с _blank.\n\n### ВЫДАЧА\nВерни только HTML блока. Ничего больше."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [-16, 592], "id": "99d4397e-633e-4375-baf9-a58d6dd887ef", "name": "Технический писатель", "retryOnFail": true, "waitBetweenTries": 3000}, {"parameters": {"jsCode": "// Оставляем первый блок для истории, но не для поиска\nconst plan = $json.final_plan.blocks || [];\nconst bodyPlan = plan.slice(1);\n\n// Формируем массив задач для поиска\nconst searchTasks = bodyPlan\n  .filter(b => b.perplexity_intent && b.perplexity_intent !== null)\n  .map(b => {\n    return {\n      block_id: b.id,\n      type: b.type || null,\n      h2: b.h2_title || null,\n      query: b.perplexity_intent,\n      context: b.context || null,\n\n      external_url: b.external_linking?.url || null,\n      external_portal: b.external_linking?.portal || null,\n      external_description: b.external_linking?.description || null,\n\n      internal_url: b.internal_linking?.url || null,\n      internal_anchor: b.internal_linking?.anchor || null,\n      internal_topic: b.internal_linking?.topic || null,\n\n      offer_id: b.offer_id || null,\n      offer_url: b.offer_url || null,\n    };\n  });\n\n// Возвращаем как список элементов для n8n (Split Out)\nreturn searchTasks;\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-880, 176], "id": "0ab7d264-6d81-4a1c-8704-27cadbe3a194", "name": "Сплиттер"}, {"parameters": {"jsCode": "const results = $input.all();\nconst sourcePlan = $(['Обогатитель данных']).all();\n\n// УСТАНОВКА ФИЛЬТРА:\n// Для ТЕКСТ: ['TEXT', 'RESEARCH', 'QUOTE']\n// Для ТЕХ: ['TABLE', 'STEPS', 'SOFT_OFFER']\nconst currentTypes = ['TABLE', 'STEPS', 'VIDEO', 'HARD_OFFER', 'SOFT_OFFER'];\nconst filteredSource = sourcePlan.filter(item => currentTypes.includes(item.json.type));\n\nfunction stripTags(value) {\n    return String(value || '')\n        .replace(/<[^>]+>/g, ' ')\n        .replace(/&nbsp;/gi, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n}\n\nfunction escapeHtml(value) {\n    return String(value || '')\n        .replace(/&/g, '&amp;')\n        .replace(/</g, '&lt;')\n        .replace(/>/g, '&gt;')\n        .replace(/\"/g, '&quot;')\n        .replace(/'/g, '&#39;');\n}\n\nfunction escapeAttribute(value) {\n    return escapeHtml(value);\n}\n\nfunction normalizeHardOffer(html) {\n    if (!html || !html.includes('hard-cta-box')) {\n        return html;\n    }\n\n    let normalized = html;\n\n    // Меняем только фон и базовый цвет текста у самой плашки.\n    normalized = normalized.replace(/<div([^>]*class=[\"'][^\"']*hard-cta-box[^\"']*[\"'][^>]*)style=([\"'])(.*?)\\2([^>]*)>/i, (_match, before, quote, style, after) => {\n        const cleanedStyle = String(style)\n            .replace(/background\\s*:[^;]+;?/gi, '')\n            .replace(/color\\s*:[^;]+;?/gi, '')\n            .replace(/!important/gi, '')\n            .replace(/\\s{2,}/g, ' ')\n            .trim();\n\n        const baseStyle = 'background: #111827; color: #fff;';\n        const mergedStyle = cleanedStyle ? `${baseStyle} ${cleanedStyle}` : baseStyle;\n\n        return `<div${before}style=${quote}${mergedStyle}${quote}${after}>`;\n    });\n\n    // Меняем только цвет заголовка внутри плашки.\n    normalized = normalized.replace(/<h3([^>]*)style=([\"'])(.*?)\\2([^>]*)>/i, (_match, before, quote, style, after) => {\n        const cleanedStyle = String(style)\n            .replace(/color\\s*:[^;]+;?/gi, '')\n            .replace(/!important/gi, '')\n            .replace(/\\s{2,}/g, ' ')\n            .trim();\n\n        const baseStyle = 'color: #fff;';\n        const mergedStyle = cleanedStyle ? `${baseStyle} ${cleanedStyle}` : baseStyle;\n\n        return `<h3${before}style=${quote}${mergedStyle}${quote}${after}>`;\n    });\n\n    // Меняем только цвет обычных абзацев, не трогая кнопку и ее контейнер.\n    normalized = normalized.replace(/<p([^>]*)style=([\"'])(.*?)\\2([^>]*)>([\\s\\S]*?)<\\/p>/gi, (match, before, quote, style, after, inner) => {\n        if (String(inner).includes('<a ')) {\n            return match;\n        }\n\n        const cleanedStyle = String(style)\n            .replace(/color\\s*:[^;]+;?/gi, '')\n            .replace(/!important/gi, '')\n            .replace(/\\s{2,}/g, ' ')\n            .trim();\n\n        const baseStyle = 'color: #fff;';\n        const mergedStyle = cleanedStyle ? `${baseStyle} ${cleanedStyle}` : baseStyle;\n\n        return `<p${before}style=${quote}${mergedStyle}${quote}${after}>${inner}</p>`;\n    });\n\n    return normalized;\n}\n\nfunction normalizeSoftOffer(html, original) {\n    const rawHtml = String(html || '').trim();\n    const firstAnchorMatch = rawHtml.match(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/i);\n    const paragraphMatches = [...rawHtml.matchAll(/<p[^>]*>([\\s\\S]*?)<\\/p>/gi)];\n\n    const introFromParagraph = paragraphMatches.find(match => !String(match[1]).includes('<a '));\n    const introText = stripTags(introFromParagraph ? introFromParagraph[1] : rawHtml);\n\n    const offerUrl = firstAnchorMatch?.[1] || original?.full_offer?.ссылка || original?.offer_url || '';\n    const anchorRawText = stripTags(firstAnchorMatch?.[2] || '');\n    const offerName = anchorRawText || original?.full_offer?.название || original?.offer_title || original?.h2_title || 'Перейти';\n    const linkLabel = /перейти/i.test(offerName) ? offerName : `${offerName} — Перейти →`;\n\n    const safeIntro = escapeHtml(introText || 'Узнайте подробности по предложению и перейдите по ссылке ниже.');\n    const safeUrl = escapeAttribute(offerUrl);\n    const safeLinkLabel = escapeHtml(linkLabel);\n\n    return `<div class=\"ad-box\" style=\"padding: 20px; border-left: 4px solid #7a00ff; background: #f9f9f9; margin: 25px 0; text-align: left;\">\\n  <p><strong>${safeIntro}</strong></p>\\n  <p><a href=\"${safeUrl}\" target=\"_blank\" rel=\"nofollow noopener\" style=\"color: #7a00ff; text-decoration: underline;\">${safeLinkLabel}</a></p>\\n</div>`;\n}\n\nreturn results.map((item, index) => {\n    const original = filteredSource[index] ? filteredSource[index].json : null;\n    let content = (item.json.output || item.json.final_html || \"\").trim();\n\n    /**\n     * САНИТАЙЗЕР (V.2.0):\n     * Пока первая строка текста начинается с решетки (#),\n     * мы отрезаем эту строку целиком. Это убирает любые H1-H6.\n     */\n    while (content.startsWith('#')) {\n        let lines = content.split('\\n');\n        lines.shift();\n        content = lines.join('\\n').trim();\n    }\n\n    if (original && original.type === 'HARD_OFFER') {\n        content = normalizeHardOffer(content);\n    }\n\n    if (original && original.type === 'SOFT_OFFER') {\n        content = normalizeSoftOffer(content, original);\n    }\n\n    return {\n        json: {\n            id: original.id,\n            type: original.type,\n            h2_title: original.h2_title,\n            result: content\n        }\n    };\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, 592], "id": "baf8eb79-377d-416e-a6c0-674d50080cb8", "name": "Обертка ТЕХ", "executeOnce": true}, {"parameters": {"model": "google/gemini-3.1-flash-lite-preview", "options": {"maxTokens": 8000, "temperature": 0.1}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [-672, 384], "id": "9c6913f0-c19c-4947-9967-a39f1c6edee1", "name": "google", "credentials": {"openRouterApi": {"id": "bsb2dZUX2ohTUlBE", "name": "OpenRouter account"}}}, {"parameters": {"jsCode": "/**\n * УЗЕЛ: Обогатитель данных V.10.0\n * ЧТО ДЕЛАЕТ:\n * 1. Соединяет план Архитектора с результатами поиска Perplexity.\n * 2. Разворачивает offer_id в полные данные (ссылка, название, текст).\n * 3. Сохраняет старый формат выхода для следующих узлов.\n * 4. При наличии research-результата обновляет research_data и linking-поля блока.\n */\n\nconst researchItems = $items(\"Агент Исследователь\");\nconst researchMap = {};\n\n// Собираем карту исследований по block_id\nresearchItems.forEach(item => {\n\ttry {\n\t\tconst raw = (item.json.output || '').replace(/```json\\s*|```/g, '').trim();\n\t\tif (!raw) return;\n\n\t\tconst parsed = JSON.parse(raw);\n\n\t\t// Новый формат\n\t\tif (parsed && parsed.block_id !== undefined && parsed.block_id !== null) {\n\t\t\tresearchMap[String(parsed.block_id)] = {\n\t\t\t\tresearch_summary: parsed.research_summary || \"Данные из досье.\",\n\t\t\t\texternal_linking: parsed.external_linking || null,\n\t\t\t\tinternal_linking: parsed.internal_linking || null,\n\t\t\t};\n\t\t\treturn;\n\t\t}\n\n\t\t// Legacy fallback: {\"ID\": \"text\"}\n\t\tif (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n\t\t\tconst keys = Object.keys(parsed);\n\t\t\tif (keys.length === 1) {\n\t\t\t\tconst id = keys[0];\n\t\t\t\tresearchMap[String(id)] = {\n\t\t\t\t\tresearch_summary: parsed[id] || \"Данные из досье.\",\n\t\t\t\t\texternal_linking: null,\n\t\t\t\t\tinternal_linking: null,\n\t\t\t\t};\n\t\t\t}\n\t\t}\n\t} catch (e) {\n\t\tconsole.log(\"Research output is not valid JSON:\", e.message);\n\t}\n});\n\n// Источник плана и контекста оставляем как раньше\nconst triggerItem = $('When Executed by Another Workflow').first().json;\nconst planBlocks = triggerItem.final_plan.blocks || [];\nconst offersDb = triggerItem.контекст?.база_офферов || [];\n\n// глава (ближайший заголовок раздела) для каждого блока — вперёд, потом назад\nfunction __chapterFor(idx){for(let i=idx+1;i<planBlocks.length;i++){const h=planBlocks[i].h2_title;if(h&&String(h).trim())return String(h).trim();}for(let i=idx-1;i>=0;i--){const h=planBlocks[i].h2_title;if(h&&String(h).trim())return String(h).trim();}return '';}\nconst __chapterMap={};\nplanBlocks.forEach((b,i)=>{const h=b.h2_title;__chapterMap[String(b.id)]=(h&&String(h).trim())?String(h).trim():__chapterFor(i);});\n\n// Собираем enriched items\nreturn planBlocks\n\t.filter(b => b.id !== 1)\n\t.map(block => {\n\t\tconst research = researchMap[String(block.id)] || null;\n\n\t\tconst blockFacts = research?.research_summary || \"Данные из досье.\";\n\n\t\t// Разворачиваем оффер по ID, с учетом number/string\n\t\tlet fullOfferData = null;\n\t\tif (block.offer_id !== null && block.offer_id !== undefined && block.offer_id !== '') {\n\t\t\tfullOfferData =\n\t\t\t\toffersDb.find(o => String(o.id) === String(block.offer_id)) || null;\n\t\t}\n\n\t\t// Если research вернул более точный external_linking/internal_linking, используем его\n\t\tconst external_linking =\n\t\t\tresearch?.external_linking !== undefined && research?.external_linking !== null\n\t\t\t\t? research.external_linking\n\t\t\t\t: (block.external_linking || null);\n\n\t\tconst internal_linking =\n\t\t\tresearch?.internal_linking !== undefined && research?.internal_linking !== null\n\t\t\t\t? research.internal_linking\n\t\t\t\t: (block.internal_linking || null);\n\n\t\t// Если оффер найден, offer_url можно канонизировать через full_offer, но поле формата не ломаем\n\t\tconst offer_url =\n\t\t\tfullOfferData?.ссылка ||\n\t\t\tblock.offer_url ||\n\t\t\tnull;\n\n\t\treturn {\n\t\t\tjson: {\n\t\t\t\t...block,\n\t\t\t\texternal_linking,\n\t\t\t\tinternal_linking,\n\t\t\t\toffer_url,\n\t\t\t\tresearch_data: blockFacts,\n\t\t\t\tfull_offer: fullOfferData,\n\t\t\t\tvideo_data: block.video_data || null,\n\t\t\t\tlanguageCode: triggerItem.languageCode,\n\t\t\t\tchapter_title: __chapterMap[String(block.id)] || '',\n\t\t\t}\n\t\t};\n\t});\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-384, 176], "id": "471b2c5a-1917-4ee9-9eca-45b7931d1a34", "name": "Обогатитель данных"}], "connections" : {"When Executed by Another Workflow":{"main":[[{"node":"Сплиттер","type":"main","index":0}]]},"Агент Исследователь":{"main":[[{"node":"Обогатитель данных","type":"main","index":0}]]},"Perplexity Search":{"ai_tool":[[{"node":"Агент Исследователь","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Арт-директор","type":"main","index":0}],[{"node":"Агент Писатель","type":"main","index":0}],[{"node":"Технический писатель","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Арт-директор","type":"ai_languageModel","index":0}]]},"Арт-директор":{"main":[[{"node":"Генерация изображения","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Агент Писатель","type":"ai_languageModel","index":0}]]},"Агент Писатель":{"main":[[{"node":"Гонзо-Журналист","type":"main","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"Гонзо-Журналист","type":"ai_languageModel","index":0}]]},"Гонзо-Журналист":{"main":[[{"node":"Обертка ТЕКСТ","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Технический писатель","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Генерация изображения":{"main":[[{"node":"Обертка IMG","type":"main","index":0}]]},"Обертка ТЕКСТ":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Обертка IMG":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Финальная сортировка","type":"main","index":0}]]},"Технический писатель":{"main":[[{"node":"Обертка ТЕХ","type":"main","index":0}]]},"Сплиттер":{"main":[[{"node":"Агент Исследователь","type":"main","index":0}]]},"Обертка ТЕХ":{"main":[[{"node":"Merge","type":"main","index":2}]]},"google":{"ai_languageModel":[[{"node":"Агент Исследователь","type":"ai_languageModel","index":0}]]},"Обогатитель данных":{"main":[[{"node":"Switch","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1"}, "active" : false, "staticData" : null, "pinData" : {}}, {"name" : "CyberSEO / ВФ 4: ГЕНЕРАЦИЯ ИЗОБРАЖЕНИЯ", "nodes" : [{"parameters": {"inputSource": "jsonExample", "jsonExample": "{\n  \"prompt\": \"A professional photo\",\n  \"ref_url\": \"https://example.com/ref.jpg\",\n  \"alt_text\": \"Описание изображения\",\n  \"wp_url\": \"https://your-site.com\"\n}"}, "id": "7f0a0575-228d-4788-9ddb-74dcec89d998", "typeVersion": 1.1, "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.executeWorkflowTrigger", "position": [-768, 368]}, {"parameters": {"options": {}}, "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [-576, 368], "id": "4a6cf326-fd63-4a60-bec5-d430028e1702", "name": "Loop Over Items"}, {"parameters": {"jsCode": "/**\n * ОПИСАНИЕ УЗЛА: \"Очистка референсов (Массовая)\"\n * \n * ЧТО ДЕЛАЕТ:\n * 1. Использует метод $input.all(), чтобы получить весь список входящих задач.\n * 2. Проходит по каждому итему через .map().\n * 3. Проверяет поле \"ref_url\". Если ссылка битая или пустая — заменяет её на null.\n * 4. Сохраняет поля prompt и alt_text без изменений.\n */\n\nreturn $input.all().map(item => {\n  let cleanRef = item.json.ref_url;\n\n  if (!cleanRef || \n      typeof cleanRef !== 'string' || \n      !cleanRef.trim().startsWith('http')) \n  {\n      cleanRef = null; \n  }\n\n  return {\n    json: {\n      prompt: item.json.prompt,\n      ref_url: cleanRef,\n      alt_text: item.json.alt_text,\n      wp_url: item.json.wp_url\n    }\n  };\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-384, 384], "id": "a8f18ba3-fe0e-471e-90e1-5fcdf543eca9", "name": "Очистка референсов"}, {"parameters": {"method": "POST", "url": "https://api.kie.ai/api/v1/jobs/createTask", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ model: 'nano-banana-2', input: { prompt: $json.prompt || '', image_input: $json.ref_url ? [$json.ref_url] : [], aspect_ratio: '3:2', resolution: '1K', output_format: 'png' } }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-176, 384], "id": "0513e40a-b42f-4465-a7da-3b6bab5ef25f", "name": "Создаем фото", "credentials": {"httpHeaderAuth": {"id": "1YXz1UY0mR3ZBK3b", "name": "KIE AI API"}}}, {"parameters": {"jsCode": "// Извлекаем taskId из ответа KIE AI\n// Логируем весь ответ для диагностики\nconst response = $json;\nconst taskId = response.data?.taskId || response.taskId || response.data?.task_id;\n\nif (!taskId) {\n  throw new Error('❌ Не получен taskId от KIE AI. Ответ: ' + JSON.stringify(response).substring(0, 500));\n}\n\n// Сохраняем prompt и ref_url для возможного ретрая\nconst prevData = $('Очистка референсов').first().json;\nreturn [{ json: { taskId, prompt: prevData.prompt, ref_url: prevData.ref_url, alt_text: prevData.alt_text } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-64, -80], "id": "c1a2b3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d", "name": "Извлечение TaskId"}, {"parameters": {"amount": 1, "unit": "minutes"}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [208, -80], "id": "2a07646b-121d-4dc4-86bd-25180ff19e5b", "name": "Wait", "webhookId": "920a65f5-4982-443c-ba80-a1ea7a191173"}, {"parameters": {"url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.taskId }}", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [416, -80], "id": "53738aa1-d3b8-493b-aaf7-8fef766292c7", "name": "Статус KIE", "credentials": {"httpHeaderAuth": {"id": "1YXz1UY0mR3ZBK3b", "name": "KIE AI API"}}}, {"parameters": {"jsCode": "/**\n * Парсер ответа KIE AI.\n * Приводим формат к единому виду для Switch:\n * - status: success | queued | failed\n * - resultUrl (если success)\n * - taskId (для повторных проверок)\n * - prompt, ref_url (для ретрая генерации)\n */\nconst data = $json.data || $json;\nconst state = (data.state || '').toLowerCase();\n\nlet status = 'queued';\nlet resultUrl = null;\n\nif (state === 'success') {\n  status = 'success';\n  try {\n    const resultJson = JSON.parse(data.resultJson || '{}');\n    resultUrl = (resultJson.resultUrls || [])[0] || null;\n  } catch (e) {\n    resultUrl = null;\n  }\n} else if (state === 'fail' || state === 'failed') {\n  status = 'failed';\n} else {\n  status = 'queued';\n}\n\n// Берём prompt/ref_url из ноды Очистка референсов для ретрая\nlet prompt, ref_url;\ntry {\n  const prev = $('Очистка референсов').first().json;\n  prompt = prev.prompt;\n  ref_url = prev.ref_url;\n} catch(e) {\n  prompt = null;\n  ref_url = null;\n}\n\nreturn [{\n  json: {\n    status,\n    resultUrl,\n    taskId: data.taskId || $json.taskId,\n    prompt,\n    ref_url\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, -80], "id": "d2b3c4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e", "name": "Парсер статуса"}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "57610aaa-a434-476e-9493-a2cc018af37f", "leftValue": "={{ $json.status }}", "rightValue": "success", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "success"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"leftValue": "={{ $json.status }}", "rightValue": "queued", "operator": {"type": "string", "operation": "equals"}, "id": "50b5b0f7-8c9e-4e76-af35-04f33ef322d5"}], "combinator": "and"}, "renameOutput": true, "outputKey": "queued"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "7f1d5857-6831-4650-816f-acc686f39450", "leftValue": "={{ $json.status }}", "rightValue": "failed", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}}]}, "options": {"fallbackOutput": 1}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.4, "position": [816, -96], "id": "6e62374d-bae6-4e19-bcb2-0503a520fad7", "name": "Switch"}, {"parameters": {"url": "={{ $json.resultUrl }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [944, -416], "id": "e3f4a5b6-c7d8-4e9f-0a1b-2c3d4e5f6a7b", "name": "Скачиваем фото"}, {"parameters": {"method": "POST", "url": "={{ $('When Executed by Another Workflow').first().json.wp_url || 'https://__BLOG_DOMAIN__' }}/wp-json/wp/v2/media", "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Disposition", "value": "=attachment; filename=\"featured-{{ Date.now() }}.png\""}]}, "options": {}, "sendBody": true, "contentType": "binaryData", "inputDataFieldName": "data"}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1152, -416], "id": "f4a5b6c7-d8e9-4f0a-1b2c-3d4e5f6a7b8c", "name": "Загрузка в WP", "credentials": {"httpBasicAuth": {"id": "9jTt9fWMCYJhmZqa", "name": "firsanov_admin"}}}, {"parameters": {"method": "POST", "url": "={{ $('When Executed by Another Workflow').first().json.wp_url || 'https://__BLOG_DOMAIN__' }}/wp-json/wp/v2/media/{{ $json.id }}", "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"alt_text\": {{ JSON.stringify($('Loop Over Items').item.json.alt_text) }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1328, -416], "id": "82d92da5-4bdc-4e76-958d-19514e2b5dee", "name": "Установка Alt", "credentials": {"httpBasicAuth": {"id": "9jTt9fWMCYJhmZqa", "name": "firsanov_admin"}}}, {"parameters": {"jsCode": "/**\n * Подготовка данных медиа для возврата в вызывающий workflow.\n * Формат совместим с нодой \"Сборка HOOK\" в ВФ 2.\n */\nconst altText = $('Loop Over Items').item.json.alt_text;\nreturn [{\n  json: {\n    mediaUrl: $json.source_url || $json.guid?.rendered || '',\n    altText: altText,\n    mediaId: $json.id\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1488, -416], "id": "a5b6c7d8-e9f0-4a1b-2c3d-4e5f6a7b8c9d", "name": "Подготовка медиа"}, {"parameters": {"jsCode": "const MAX_ATTEMPTS = 20;\n\nconst state = $getWorkflowStaticData('node');\n\nif (!state.statusFailCount) {\n  state.statusFailCount = 0;\n}\n\nstate.statusFailCount += 1;\n\nif (state.statusFailCount >= MAX_ATTEMPTS) {\n  state.statusFailCount = 0;\n  throw new Error(\n    `❌ Статус не изменился после ${MAX_ATTEMPTS} попыток. KIE AI не отвечает или завис. Workflow остановлен.`\n  );\n}\n\n// Пропускаем ВСЕ данные насквозь без изменений\nreturn $input.all().map(item => ({ json: item.json }));"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1248, -80], "id": "e3c1f019-83ea-4cd4-b7ac-d91f2fa67bc8", "name": "Счетчик 10"}, {"parameters": {"jsCode": "const MAX_ATTEMPTS = 5;\n\nconst state = $getWorkflowStaticData('node');\n\nif (!state.failCount) {\n  state.failCount = 0;\n}\n\nstate.failCount += 1;\n\nif (state.failCount >= MAX_ATTEMPTS) {\n  state.failCount = 0;\n  throw new Error(\n    `❌ Генерация провалилась ${MAX_ATTEMPTS} раза. Проверь баланс в KIE AI.`\n  );\n}\n\n// Пропускаем ВСЕ данные насквозь без изменений\nreturn $input.all().map(item => ({ json: item.json }));"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [928, 144], "id": "b637bb26-04ee-4f2f-ac88-a01f36045e33", "name": "Счетчик "}], "connections" : {"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Очистка референсов","type":"main","index":0}]]},"Очистка референсов":{"main":[[{"node":"Создаем фото","type":"main","index":0}]]},"Создаем фото":{"main":[[{"node":"Извлечение TaskId","type":"main","index":0}]]},"Извлечение TaskId":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Статус KIE","type":"main","index":0}]]},"Статус KIE":{"main":[[{"node":"Парсер статуса","type":"main","index":0}]]},"Парсер статуса":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Скачиваем фото","type":"main","index":0}],[{"node":"Счетчик 10","type":"main","index":0}],[{"node":"Счетчик ","type":"main","index":0}]]},"Скачиваем фото":{"main":[[{"node":"Загрузка в WP","type":"main","index":0}]]},"Загрузка в WP":{"main":[[{"node":"Установка Alt","type":"main","index":0}]]},"Установка Alt":{"main":[[{"node":"Подготовка медиа","type":"main","index":0}]]},"Подготовка медиа":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Счетчик 10":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Счетчик ":{"main":[[{"node":"Создаем фото","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1"}, "active" : false, "staticData" : {"node:Счетчик 10":{"statusFailCount":4}}, "pinData" : {}}, {"name" : "Бэкап статей → Sheets", "nodes" : [{"parameters": {"rule": {"interval": [{"triggerAtHour": 3}]}}, "name": "Раз в день 03:00 МСК", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 0], "id": "11111111-0000-0000-0000-000000000001"}, {"parameters": {"documentId": {"__rl": true, "value": "__SHEET_ID__", "mode": "id"}, "sheetName": {"__rl": true, "value": "БЭКАП СТАТЕЙ", "mode": "name"}, "options": {}}, "name": "Уже записанные", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [224, 0], "id": "11111111-0000-0000-0000-000000000002", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}, "alwaysOutputData": true}, {"parameters": {"jsCode": "\nconst existing=new Set($input.all().map(r=>(r.json&&r.json.ID!=null)?String(r.json.ID):'').filter(Boolean));\nconst resp=await this.helpers.httpRequest({method:'GET',url:'https://__BLOG_DOMAIN__/wp-json/wp/v2/posts',\n  qs:{per_page:100,status:'publish',orderby:'date',order:'desc',_fields:'id,date,title,content,link,featured_media'},json:true});\nfunction htmlToPlain(html){\n  if(!html) return '';\n  let s=html;\n  s=s.replace(/<script[\\s\\S]*?<\\/script>/gi,'');\n  s=s.replace(/<style[\\s\\S]*?<\\/style>/gi,'');\n  function stripDiv(str, cls){\n    for(let g=0; g<100; g++){\n      let pos=0, ds=-1;\n      while(true){\n        const d=str.indexOf('<div', pos);\n        if(d<0) break;\n        const gt=str.indexOf('>', d);\n        if(gt<0) break;\n        const tag=str.slice(d, gt+1);\n        if(tag.indexOf('class=\"')!==-1 && tag.indexOf(cls)!==-1){ ds=d; break; }\n        pos=gt+1;\n      }\n      if(ds<0) break;\n      let depth=0, i=ds, end=-1;\n      while(i<str.length){\n        if(str.startsWith('<div', i)){ depth++; const x=str.indexOf('>', i); if(x<0){break;} i=x+1; continue; }\n        if(str.startsWith('</div', i)){ depth--; const x=str.indexOf('>', i); if(x<0){break;} i=x+1; if(depth===0){ end=i; break; } continue; }\n        i++;\n      }\n      if(end<0) break;\n      str=str.slice(0,ds)+str.slice(end);\n    }\n    return str;\n  }\n  ['stats-box','toc-box','author-card','ad-box','hard-cta-box'].forEach(function(c){ s=stripDiv(s,c); });\n  s=s.replace(/<figure[\\s\\S]*?<\\/figure>/gi,'');\n  s=s.replace(/<img[^>]*>/gi,'');\n  s=s.replace(/<\\/(td|th)>/gi,' \\t ');\n  s=s.replace(/<li[^>]*>([\\s\\S]*?)<\\/li>/gi,function(m,t){return t.trim()+'\\n';});\n  s=s.replace(/<\\/(p|div|h[1-6]|ul|ol|table|tr|blockquote|figcaption)>/gi,'\\n\\n');\n  s=s.replace(/<br\\s*\\/?>/gi,'\\n');\n  s=s.replace(/<[^>]+>/g,'');\n  s=s.replace(/&nbsp;/g,' ').replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&quot;/g,'\"').replace(/&#0?39;/g,\"'\").replace(/&laquo;/g,'«').replace(/&raquo;/g,'»').replace(/&mdash;/g,'—').replace(/&ndash;/g,'–').replace(/&#\\d+;/g,'');\n  s=s.replace(/ +/g,' ').replace(/ *\\n */g,'\\n').replace(/\\n{3,}/g,'\\n\\n');\n  return s.trim();\n}\n\nconst out=[];\nfor(const p of resp){\n  if(existing.has(String(p.id))) continue;\n  const html=(p.content&&p.content.rendered)||p.content||'';\n  const title=(p.title&&p.title.rendered)||p.title||'';\n  let feat='';if(p.featured_media){try{const __m=await this.helpers.httpRequest({method:'GET',url:'https://__BLOG_DOMAIN__/wp-json/wp/v2/media/'+p.featured_media,qs:{_fields:'source_url'},json:true});feat=(__m&&__m.source_url)||'';}catch(e){}}const bodyImgs=[...html.matchAll(/<img[^>]*?src=\"([^\"]+)\"/gi)].map(m=>m[1]);const imgs=[...new Set([feat,...bodyImgs].filter(u=>u&&u.includes('/wp-content/uploads/')))];\n  out.push({json:{\"ID\":String(p.id),\"Дата/время\":(p.date||'').replace('T',' ').slice(0,16),\"Тема\":title,\"Текст\":htmlToPlain(html),\"Картинки\":imgs.join('\\n\\n')}});\n}\nreturn out;\n"}, "name": "Новые статьи → markdown", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 0], "id": "11111111-0000-0000-0000-000000000003"}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "__SHEET_ID__", "mode": "id"}, "sheetName": {"__rl": true, "value": "БЭКАП СТАТЕЙ", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"ID": "={{ $json[\"ID\"] }}", "Дата/время": "={{ $json[\"Дата/время\"] }}", "Тема": "={{ $json[\"Тема\"] }}", "Текст": "={{ $json[\"Текст\"] }}", "Картинки": "={{ $json[\"Картинки\"] }}"}, "matchingColumns": [], "schema": [{"id": "ID", "displayName": "ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Дата/время", "displayName": "Дата/время", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Тема", "displayName": "Тема", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Текст", "displayName": "Текст", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}, {"id": "Картинки", "displayName": "Картинки", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}]}, "options": {"cellFormat": "USER_ENTERED"}}, "name": "Дописать новые", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [672, 0], "id": "11111111-0000-0000-0000-000000000004", "credentials": {"googleSheetsOAuth2Api": {"id": "SpwQD1a4JgNj3V8J", "name": "Google Sheets account"}}}], "connections" : {"Уже записанные":{"main":[[{"node":"Новые статьи → markdown","type":"main","index":0}]]},"Новые статьи → markdown":{"main":[[{"node":"Дописать новые","type":"main","index":0}]]},"Раз в день 03:00 МСК":{"main":[[{"node":"Уже записанные","type":"main","index":0}]]}}, "settings" : {"executionOrder":"v1","timezone":"Europe/Moscow"}, "active" : false, "staticData" : {"node:Каждые 15 мин":{"recurrenceRules":[]},"node:Раз в день 03:00 МСК":{"recurrenceRules":[]}}, "pinData" : {}}]